= form_for @staff do |f|
  - if @staff.errors.any?
    #error_explanation
      %h2= "#{pluralize(@staff.errors.count, "error")} prohibited this staff from being saved:"
      %ul
        - @staff.errors.full_messages.each do |msg|
          %li= msg
 
  %table
    .row
      .field
        %tr
          .col-sm-3
            = f.label :staff_name,:class => 'control-label'
        %tr
          .col-sm-3
            = f.text_field :staff_name, :class => 'form-control'
    .row
      .field
        %tr
          .col-sm-3
            = f.label :staff_exp
        %tr
          .col-sm-3
            = f.text_field :staff_exp, :class => 'form-control'
    .row
      .field
        %tr
          .col-sm-3
            = f.label :grade
        %tr
          .col-sm-3
            = f.select :grade,options_for_select([['PP1'],['PP2'],['Grade-1'],['Grade-2'],['Grade-3'],['Grade-4'],['Grade-5'],['Grade-6'],['Grade-7'],['Grade-8'],['Grade-9'],['Grade-10'],['Grade-11'],['Grade-12']]), {:class => 'col-sm-4 form-control'}
    .row
      .field
        %tr
          .col-sm-3
            = f.label :start_time
        %tr
          .col-sm-3
            = f.text_field :start_time, :class => 'timepicker form-control'
    .row
      .field
        %tr
          .col-sm-3
            = f.label :end_time
        %tr
          .col-sm-3
            = f.text_field :end_time, :class => 'timepicker form-control'
    .row
      .field
        %tr
          .col-sm-3
            = f.label :period
        %tr
          .col-sm-3
            = f.text_field :period, :class => 'form-control'
    .row
      .field
        %tr
          .col-sm-3
            = f.label :date
        %tr
          .col-sm-3
            = f.text_field :date, :class => 'datepicker form-control'
    %br
    .col-sm-2
      .pull-right
        = f.submit 'Save',:class => 'btn btn-primary'
