.pull-right
  %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "New Event"
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title New Assessment
        = form_for Staff.new do |f|
          .modal-body
            %table
              .row
                .field
                  %tr
                    .col-sm-3
                      = f.label :staff_name,:class => 'control-label'
                  %tr
                    .col-sm-3
                      = f.text_field :staff_name, :class => 'form-control'
              .row
                .field
                  %tr
                    .col-sm-3
                      = f.label :staff_exp
                  %tr
                    .col-sm-3
                      = f.text_field :staff_exp, :class => 'form-control'
              .row
                .field
                  %tr
                    .col-sm-3
                      = f.label :grade
                  %tr
                    .col-sm-3
                      = f.select :grade,options_for_select([['PP1'],['PP2'],['Grade-1'],['Grade-2'],['Grade-3'],['Grade-4'],['Grade-5'],['Grade-6'],['Grade-7'],['Grade-8'],['Grade-9'],['Grade-10'],['Grade-11'],['Grade-12']]), {:class => 'col-sm-4 form-control'}
              .row
                .field
                  %tr
                    .col-sm-3
                      = f.label :start_time
                  %tr
                    .col-sm-3
                      = f.text_field :start_time, :class => 'timepicker form-control'
              .row
                .field
                  %tr
                    .col-sm-3
                      = f.label :end_time
                  %tr
                    .col-sm-3
                      = f.text_field :end_time, :class => 'timepicker form-control'
              .row
                .field
                  %tr
                    .col-sm-3
                      = f.label :period
                  %tr
                    .col-sm-3
                      = f.text_field :period, :class => 'form-control'
              .row
                .field
                  %tr
                    .col-sm-3
                      = f.label :date
                  %tr
                    .col-sm-3
                      = f.text_field :date, :class => 'datepicker form-control'
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                = f.submit "save", :class => 'btn btn-primary'
          

.pull-left
  .row
    = form_tag staffs_path, :method => 'get' do
      .col-sm-12
        .col-sm-8
          = select_tag(:search,options_for_select([['PP1'],['PP2'],['1'],['2'],['3'],['4'],['5'],['6'],['7'],['8'],['9'],['10'],['11'],['12']],:selected => :grade),{:class => 'col-sm-4 form-control'})

        .col-sm-3
          = submit_tag "Search", :class => 'btn btn-primary'
%br
.row
  %center
    %h3
      Listing staffs
    %table.table.table-striped.table-condensed.table-bordered
      %tr
        %th Staff name
        %th Staff exp
        %th Grade
        %th Start time
        %th End time
        %th Period
        %th Date
        
 
        - @staffs.each do |staff|
          %tr
            %td= staff.staff_name
            %td= staff.staff_exp
            %td= staff.grade
            %td= staff.start_time
            %td= staff.end_time
            %td= staff.period
            %td= staff.date
                  
%br
    


