.pull-right
  %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "New Event"
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title New Assessment
          

.pull-left
  .row
    = form_tag staffs_path, :method => 'get' do
      .col-sm-12
        .col-sm-8
          = select_tag(:search,options_for_select([['PP1'],['PP2'],['1'],['2'],['3'],['4'],['5'],['6'],['7'],['8'],['9'],['10'],['11'],['12']],:selected => :grade),{:class => 'col-sm-4 form-control'})

        .col-sm-3
          = submit_tag "Search", :class => 'btn btn-primary'
%br
.row
  %center
    %h3
      Listing staffs
    %table.table-striped.table-condensed
      %tr
        %th Staff name
        %th Staff exp
        %th Grade
        %th Start time
        %th End time
        %th Period
        %th Date
        
        %th
        %th
        - @staffs.each do |staff|
          %tr
            %td= staff.staff_name
            %td= staff.staff_exp
            %td= staff.grade
            %td= staff.start_time
            %td= staff.end_time
            %td= staff.period
            %td= staff.date
            %td= link_to "Event", event_new_staff_path(staff), :class => 'btn btn-primary'
            %td= link_to raw("<span class='glyphicon glyphicon-edit'></span>"), edit_staff_path(staff), :class => "btn btn-warning btn-sm", :title => "Edit"
            %td= link_to raw("<span class='glyphicon glyphicon-trash'></span>"), staff, :class => "btn btn-danger btn-sm",:method => :delete, :data => { :confirm => 'Are you sure?' }, :title => "Delete"
                  
%br
    


