.row{"ng-controller" => "GradeController"}
  .row
    .col-md-2 
    .col-md-8
      .col-md-4 
        .col-md-12
          = label_tag(:grade, "Select Grade") 
        .col-md-12
          %select{"ng-model" => "myGrade", "ng-options" => "grade.grade for grade in grades"}       
      .col-md-4{"ng-controller" => "SectionController"} 
        .col-md-12
          = label_tag(:grade, "Select Section")
        .col-md-12
          %select{"ng-model" => "mySection", "ng-options" =>"section.section for section in sections"}
      .col-md-4
        = submit_tag("GO",{class: "btn btn-primary"})
        = submit_tag("ADD TIME TABLE",{class: "btn btn-primary"})
    .col-md-2   
%br
  .row{"ng-controller" => "GradeController"}
    .col-md-2 
    .col-md-8
      .col-md-4
        %label{:class => "form-label"}
          Enter no.of periods
      .col-md-4
        = text_field_tag  "period",nil, :class => "form-control", :ng_model => "period", :placeholder => "period"
        {{period}}
      .col-md-4
        = button_tag("ADD",{class: "btn btn-primary", :ng_click => "addPeriods()"})
        %div{"ng-show" => "myValue"}
          %table
            %tr
              %th PERIOD
              %th MON
              %th TUE
              %th WED
              %th THU
              %th FRI
              %th SAT
              %th SUN             
            %tr{"ng-repeat" => "timeperiod in timeperiods"}
              %td Period{{" "+($index+1)}}
              %td 
                = text_field_tag  "period",nil, :class => "form-control", :ng_model => "period", :placeholder => "period"
              %td Phy
              %td Che
              %td Eng
              %td Bio
              %td css
              %td
    .col-md-2 
      :css
        table, th, td
        {
        border-collapse:collapse;
        border:1px solid #6aa6d6;
        }
        th, td
        {
        padding:5px;
        }    
  .row{"ng-repeat" => "timeperiod in timeperiods"}
    hI
