.col-md-9{"ng-controller" => "InventoriesController"}
  %table#tblData.target.table.table-striped.table-condensed.table-bordered
    %thead
      %tr        
        %th Type
        %th Name
        %th Quantity
        - if current_user.canteenmanager? or current_user.principal? or current_user.admin? 
          %th Status
          %th 
            - if current_user.canteenmanager?
              %button.btn.btn-primary{"ng-click" => "newInventory()"}= "Send For Approval"
            - if current_user.principal?
              %button.btn.btn-primary{"ng-click" => "updateStatus('Approved')"}= "Approve"
              %button.btn.btn-primary{"ng-click" => "updateStatus('Rejected')"}= "Reject"
            - if current_user.admin?
              %button.btn.btn-primary{"ng-click" => "initiateMail()"}= "Order"
    %tbody
      %tr{"ng-repeat" => "inventory in inventories"}
        %td {{inventory.inventory_type}}
        %td {{inventory.name}}
        %td {{inventory.quantity}}
        - if current_user.canteenmanager? or current_user.principal? or current_user.admin? 
          %td {{inventory.status}}
        - if current_user.canteenmanager? or current_user.principal? or current_user.admin?
          %td
            %input{"ng-model" => "status", type: "checkbox", "ng-change" => "sendForApproval(status,inventory)", "ng-checked" => "status"}
            {{status}}
      .modal.fade{ :id => "createModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
        .modal-dialog
          .modal-content
            .modal-header
              %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
              %h4.modal-title{ :id => "myModalLabel"} Inventories
            .modal-body
              = render "form"
