.col-md-7{"ng-controller" => "InventoriesController"}
  %h3
    = "Order Placed  Inventories"
  - if current_user.canteenmanager?
    .pull-left
      .col-sm-10
        %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}
          %br
      
    %table#tblData.target.table.table-striped.table-condensed.table-bordered
      %thead
        %tr
          %th Name
          %th Type
          %th Quantity
          %th 
          
      %tbody
        - @inventories.order_placed.each do |inv|
          %tr
            %td= inv.name
            %td= inv.inventory_type
            %td= inv.quantity
            %td
              = link_to "Delivered", "#", :class => "delivered label label-danger",:data=> {:id => inv.id}

