%h4 Listing interviewschedulers:
.row
  .col-sm-5
    #calendar

  .col-sm-7
    %br
    
%table
  %tr
    %th{style: "width:7%"} Name
    %th{style: "width:7%"} Description
    %th{style: "width:7%"}Start time
    %th{style: "width:7%"} End time
    %th{style: "width:1%"}
    %th{style: "width:1%"}

      - @interviewschedulers.each do |interviewscheduler|
        %tr
          %td= interviewscheduler.name
          %td= interviewscheduler.description
          %td= interviewscheduler.start_time
          %td= interviewscheduler.end_time
         
          %td= link_to raw("<span class='glyphicon glyphicon-edit'></span>"),  edit_interviewscheduler_path(interviewscheduler), :class => "btn btn-warning btn-sm", :title => "Edit"
          %td= link_to raw("<span class='glyphicon glyphicon-trash'></span>"), interviewscheduler, :class => "btn btn-danger btn-sm",:method => :delete, :data => { :confirm => 'Are you sure?' }, :title => "Delete"         
= link_to button_tag('New ',:class => 'btn btn-primary'), new_interviewscheduler_path
          
