.row
  .col-sm-5
    #calendar
      %br
      %br
  .col-sm-7
    .row
      .col-sm-6
      .col-sm-5
        %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "New Schedule"
        #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                %h4#myModalLabel.modal-title New Event
                = form_for Interviewscheduler.new do |f|
                  .modal-body
                    .row
                      .field
                        .col-sm-3
                          = f.label "Enquiry_no:", :class => 'control-label'
                        .col-sm-7
                          = f.text_field :enquiry_no, :class => 'form-control'
                          %br
                    .row   
                      .field
                        .col-sm-3
                          = f.label "Description:", :class => 'control-label'
                        .col-sm-7
                          = f.text_area :description, :class => 'form-control'
                          %br
                    .row
                      .field
                        .col-sm-3
                          = f.label "Start Day:", :class => 'control-label'
                        .col-sm-7
                          = f.text_field :start_time, :class => 'datepicker form-control'
                          %br
                    .row
                      .field
                        .col-sm-3
                          = f.label "Start Time:", :class => 'control-label'
                        .col-sm-7
                          = f.time_select :end_time, :class => 'form-control'
                          %br
                                
                   
                      .modal-footer
                        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                        = f.submit "save", :class => 'btn btn-primary'
= form_tag forms_path, method: :get do
  %input#search{name: "search", placeholder: "Enter search term...", type: "text"}
    = submit_tag "Search", name: nil, :class => 'btn btn-primary'
    %br         
    %center
      %h5
        LISTING Schedules
        %table.table.table.striped.table-bordered.table-condensed.table-hover{style: "width:90%"}
          %tr
            %th Enquiry NO 
            %th Description
            %th Start Day
            %th Start Time
            
            
            - @interviewschedulers.each do |interviewscheduler|
              %tr
                %td= link_to "#{interviewscheduler.enquiry_no}",home_index_interviewscheduler_path(interviewscheduler)
                %td= interviewscheduler.description
                %td= interviewscheduler.start_time
                %td= interviewscheduler.end_time
               

                  
%br
                  
                    


          
