= form_tag search_by_month_faculty_master_employee_advance_payments_path(@faculty_master), :method => 'get' , :class => "form-inline" do
  .form-group
    = select_tag "month", options_for_select(Date::MONTHNAMES, params[:month]), :class => "form-control", :placeholder => "Month"
  .form-group
    = select_tag "year", options_for_select(((session[:transaction_date].year-10..session[:transaction_date].year).to_a << "").reverse, params[:year]), :class => "form-control", :placeholder => "Year"
  = submit_search
  = link_to_new(new_faculty_master_employee_advance_payment_path(@faculty_master))
