//%script{:src => "http://maps.googleapis.com/maps/api/js?v=3&key=....&sensor=false&callback=initializeMap&libraries=places", :type => "text/javascript"}
%script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"}
//%script{:src => "https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places", :type => "text/javascript"}
.row
  .pull-right
    - if current_user.transport_head?
      = form_for LocationMaster.new , :html => { :class => "form-horizontal", :role => "form"} do |f|
        .row
          .col-sm-12
            = f.label "Add Location", :class => "control-label"
        .row
          .col-sm-10
            = f.text_field :location_name, :id => "autocomplete", :class => "form-control"          
            // %input#autocomplete{:type => "text" , :name => "location_name"}
          .col-sm-2
            %button{:type=>"submit", :class=> "btn btn-primary"}= "Add"

  .pull-left
    .col-sm-12
      = render "search"
%br
%br
.row
  .col-sm-5
   
    %table#tblData.target.table.table-striped.table-condensed.table-bordered
      %thead
        %tr
          %th Locations
          - if current_user.transport_head?
            %th
      %tbody
        - @location_master.even.each do |location_master|
          %tr
            %td= location_master.location_name
            - if current_user.transport_head?
              %td
                =  link_to raw("<span class='glyphicon glyphicon-trash'></span>"),location_master_path(location_master), :class => "btn btn-danger btn-sm", :data=> {:confirm => "Are you sure?", method: :delete}, :title => "Delete"
  .col-sm-5
    %table#tblData.target.table.table-striped.table-condensed.table-bordered
      %thead
        %tr
          %th Locations
          - if current_user.transport_head?
            %th
      %tbody
        - @location_master.odd.each do |location_master|
          %tr
            %td= location_master.location_name
            - if current_user.transport_head?
              %td
                =  link_to raw("<span class='glyphicon glyphicon-trash'></span>"),location_master_path(location_master), :class => "btn btn-danger btn-sm", :data=> {:confirm => "Are you sure?", method: :delete}, :title => "Delete"
.row
  .col-sm-3
  .col-sm-2
  = will_paginate @location_master, param_name: "page", previous_label: h("<"), next_label: h(">") , count: "page" 
