= form_for @recruitment,:html => { :class => "form-horizontal", :role => "form" } do |f|
  .row
    .col-sm-3
      = f.label "Title:", :class => 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :title,:class => 'form-control'
      %br
  .row
    .col-sm-3
      = f.label "Education Details:", :class => 'col-sm-3 control-label'
    .col-sm-5
      = f.text_area :education_details, :class => 'form-control'
      %br
  .row
    .col-sm-3
      = f.label "experience: ", :class => 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :experience, :class => 'form-control'
      %br
      = f.button "submit" , :class =>'btn btn-primary'
