.panel.panel-default
  .panel-body
    .col-sm-3
      .pull-left
        .input-group
          %span.input-group-addon
            = fa_icon "search lg"
          %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
          %br
    .col-sm-6
      %center
        %h4
          Assessment Planned
%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr{style: "width:25%"}
      %th StaffHead
      %th Form no
      %th Description
      %th Timings
  %tbody
    - @recruitments.each do |recruitment|
      %tr
        %td= recruitment.staffhead
        %td= link_to "#{recruitment.form_no}",homeindex_recruitment_path(recruitment)
        %td= recruitment.title
        %td= recruitment.start_time
        
