.panel.panel-default
  .panel-body
    .col-sm-3
      .pull-left
        .input-group
          %span.input-group-addon
            = fa_icon "search lg"
          %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}/
          %br
    .col-sm-4
      %center
        %h4
          Assessment Completed
          %br
          %br

%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Form no
      %th Description
      %th Faculty
      %th Time
      %th Status
        
  %tbody
    - @staff_admissions.each do |staff_admission|
      %tr
        %td= link_to "#{staff_admission.form_no}", homeindex_staff_admission_path(staff_admission)
      - @recruitments.each do |recruitment|
        %td= recruitment.description
        %td= recruitment.staff_head
        %td= recruitment.start_time
        %td= recruitment.status
        
