.row
  .col-sm-12
    = render "shared/steprecruitment"
    %br
.row
  .col-sm-8
    = render "homeindex"
  .col-sm-3
    - if("#{@staff_admission.status}" == 'Application_Created'||"#{@staff_admission.status}" == 'Assessment_Planned'||"#{@staff_admission.status}" == 'Assessment_Completed'||"#{@staff_admission.status}" == 'Management_Reviewed')
      = link_to "Close the Form", "#", :class => "change btn1 btn btn-danger", :data => {:id => "#{@staff_admission.id}"}
      #mypopModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %center
                %h4#myModalLabel.modal-title Reason for Closing
            = form_for @recruitment do |f|
              .modal-body
                .row
                  .col-sm-1
                    = f.radio_button :closestatus, "Not upto the mark"
                  .col-sm-10
                    = f.label "Not Upto the Mark"
                .row
                  .col-sm-1
                    = f.radio_button :closestatus, "Financial Crisis"
                  .col-sm-10
                    = f.label "Financial Crisis"
                .row
                  .col-sm-1
                    = f.radio_button :closestatus, "Didn't Pick the Interview Call"
                  .col-sm-10
                    = f.label "Didn't Pick the Interview Call"
                                 
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button",:class => 'btn btn-primary'} Close
                = f.hidden_field :status,:value => "Form_Closed"
                = f.hidden_field :staffhead, :value => @staff_admission.staffhead
                = button_tag "Save", :type => "submit", :class => 'btn btn-primary' 

    - else
      = link_to "Form Closed", "#", :class => "btn1 btn btn-success", :data => {:id => "#{@recruitment.id}"}
    %br
    %br
    - if("#{@staff_admission.status}" == 'Application_Created')
      = link_to "Doc Verification", "#",:class => 'btn1 btn btn-success'
    %br
    %br
    
.row
  .col-sm-11
    .panel.panel-default
      %h4.panel-heading
        Document Uploader
      = form_for([@staff_admission,@staff_admission.build_recruitment]) do |f|
        %table
          %thead
            %td
              = f.label "Educational Certificates", :class => 'control-label'
            %td
              = f.label "Previous Employment Proof"
            %td
              = f.label "Salary slips for previous months"
            %td

          %tbody
            %td
              = f.file_field :educational_certificates
            %td
              = f.file_field :previous_employment_proof
            %td
              = f.file_field :salary_slips_for_previous_months
            %td
             
            %td
              = f.hidden_field :id, :value => @staff_admission.id
              = f.hidden_field :staff_admission_id, :value => @staff_admission.id
              = f.hidden_field :status, :value => 'Document_Verified'
              = f.submit "Upload", :class => 'btn btn-primary'
            
