%p#notice= notice

%p
  %b Title:
  = @recruitment.title
%p
  %b Education Details:
  = @recruitment.education_details
%p
  %b Experience:
  = @recruitment.experience


= link_to 'Edit', edit_recruitment_path(@recruitment), :class => 'btn btn-primary'
= link_to 'back',recruitments_path, :class => 'btn btn-primary
