.panel.panel-default
  .test
    .col-sm-3
      .pull-left
        .input-group
          %span.input-group-addon
            = fa_icon "search lg"
          %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
          %br
    .col-sm-6
      %center
        %h4
          Reports Based On Usage Of Books
%h3
  Most Used Books:
%table#tblData.table.table.striped.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Name
      %th ISBN Number
      %th Author
      %th Year Of Publishing
      %th Purchased Date
      %th Type
     
  %tbody
    - @books.each do |book|
      %tr
        %td= book.name
        %td= book.isbn
        %td= book.author
        %td= book.year_of_publishing
        %td= book.created_at
        %td= book.book_type
%br
-# .panel.panel-default
-#   .test
-#     .col-sm-3
-#       .pull-left
-#         .input-group
-#           %span.input-group-addon
-#             = fa_icon "search lg"
-#           %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
-#           %br
-#     .col-sm-4
-#       %center
-#         %h4
-#           Least Used Books
%h3
  Least Used Books:
%table#tblData.table.table.striped.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Name
      %th ISBN Number
      %th Author
      %th Year Of Publishing
      %th Purchased Date
      %th Type
     
  %tbody
    - @books.each do |book|
    
      %tr
        %td= book.name
        %td= book.isbn
        %td= book.author
        %td= book.year_of_publishing
        %td= book.created_at
        %td= book.book_type

