.row
  = form_for @staffadmin, :html => { :class => "form-horizontal", :role => "form" } do |f|
    = render "shared/error_messages", :object => f.object
    .col-sm-12
      .form-group{"ng-controller" => "LeadController"}
        .col-sm-2
          = f.label "Role:", :class => 'control-label'
        .col-sm-3
          %select{"ng-model" => "myLead", "ng-options" => "add.role_name for add in adds", :class => "form-control", :required => "required"}
            %option{style: "display:none", value: ""} Select Role
            = f.hidden_field :id, :value => "{{myLead.id}}"
            = f.hidden_field :dept, :value => "{{myLead.role_name}}"
            {{myLead.dept}}
          
      .form-group{"ng-controller" => "StaffadminsController"}
        .col-sm-2
          = f.label "Lead:", :class => 'control-label'
        .col-sm-3
          %select{"ng-model" => "staffAdmin", "ng-options" => "faculty.faculty_name for faculty in faculties",:class => "form-control",:required => "required"}          
            %option{style: "display:none", value: ""} Select Staff
            
          = f.hidden_field :head, :value => "{{staffAdmin.faculty_name}}"
      %center
        
        = f.submit "Create", :class => 'btn btn-primary'
     
        

    
