%button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "New Guest"
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title New Guest
        = form_for GuestManagement.new , :html => { :class => "form-horizontal", :role => "form"} do |f| 
          .modal-body
            .row
              .col-sm-4
                = f.label "Name"
              .col-sm-4
                = f.text_field "guest_name", :class => 'form-control'
                %br
            .row
              .col-sm-4
                = f.label "Phone#"
              .col-sm-4
                = f.text_field "guest_phone", :class => 'form-control'
                %br
            .row
              .col-sm-4
                = f.label "E-mail"
              .col-sm-4
                = f.text_field "guest_email", :class => 'form-control'
                %br
            .row
              .col-sm-4
                = f.label "Address" 
              .col-sm-4
                = f.text_area "guest_address", :class => 'form-control'
                %br
            .row
              .col-sm-4
                = f.label "Follow-up"
              .col-sm-2
                = f.select "follow_up" , options_for_select([['Yes'],['No']]) , :class => 'form-control'
              .col-sm-2
                = f.label "Date"
              .col-sm-4
                = f.text_field "follow_up_date" ,:class => 'datepicker form-control' 
                %br
            .row
              .col-sm-4
                = f.label "Came to meet"
              .col-sm-4
                = f.text_field "came_to_meet", :class => 'form-control'
                %br
            .row
              .col-sm-10
              .col-sm-2
                = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
