= render 'shared/logo'
.stepwizard
  .stepwizard-row
    .stepwizard-step
      .btn.btn-warning.btn-circle
        = link_to '1', students_enquiry_path
      %p Enquiry
      
    .stepwizard-step
      .btn.btn-warning.btn-circle
        = link_to '2',students_app_path
      %p Application 
    .stepwizard-step
      .btn.btn-warning.btn-circle
        = link_to '3', students_show_path
      %p Assessment
    .stepwizard-step
      .btn.btn-warning.btn-circle
        = link_to '4', students_show_path
      %p Management
    .stepwizard-step
      .btn.btn-warning.btn-circle
        = link_to '5', students_show_path
      %p Finance
    .stepwizard-step
      .btn.btn-warning.btn-circle
        = link_to '6', students_show_path
      %p Results
