= render 'students/process_link'
%h4
  %center
    Enquiry Form

%table.table.table.striped
  %thead
    %tr
      %th Name
      %th Class
      %th Gender
      %th Father's Name
      %th Date of Birth
      %th Mobile
      %th Email
      %th
      %th
      %th Status
      %th
  
        
  %tbody
    - Student.all.each do |student|
      %tr
        %td= student.name
        %td= student.klass
        %td= student.gender
        %td= student.father_name
        %td= student.dob
        %td= student.mobile
        %td= student.email
        %td= link_to "<See More>" , students_more_path
        %td= link_to raw("<span class='glyphicon glyphicon-edit'></span>"),edit_student_path(student), :class => "btn btn-warning btn-sm", :title => "Edit"
        %td
          = form_for Student.new, url: {action: "create"} do |f| 
            %label{for: "selected", :id => "first"} Selected
            = f.radio_button :status, "selected"
            %label{for: "cancelled", :id => "second"} Cancelled
            = f.radio_button :status, "cancelled"
           
  %center
    = link_to 'Add New Form', new_student_path, :class => 'btn btn-primary'
    = link_to 'back', students_path, :class => 'btn btn-primary'
    = submit_tag "Create",:name => 'next_button',:class => 'btn btn-primary'

  
