.col-sm-9
  %table.table-striped.table-condensed
    %tr
      %td{style: "width:25%"}
        %b
          %span.label.label-warning Enquiry #
      %td{style: "width:25%"}
        = @documentuploader.enquiry_no
      %td{style: "width:25%"}
        %b
         
      
    %tr
      %td
        %label{for: "educational_certificates"} Educational_Certificates
      %td
        = @documentuploader.educational_certificates
      %td
        %label{for: "previous_employment_proof"} Previous Employment Proof
      %td
        = @documentuploader.previous_employment_proof
    %tr
      %td
        %label{for: "salary_slips_for_previous_months"} Salary_Slips_For_Previous_Months
      %td
        = @documentuploader.salary_slips_for_previous_months
  
        %br
           
        .col-sm-6
          = link_to "View Assessment", documentuploader_path , :class => 'enq_button btn btn-primary'
          %br
          %br
          = link_to "Create Assessment", new_documentuploader_path , :class => 'enq_button btn btn-primary'
          %br
          %br
 
  
  - if("#{@documentuploader.status}" == 'Assessment Completed'||"#{@documentuploader.status}" == 'Sr management Review')
    = link_to "Close the Form", "#", :class => "change label label-danger",:data=> {:id => "#{@documentuploader.id}"}
  - else 
    = link_to "Form Closed", "#", :class => "label label-success",:data=> {:id => "#{@documentuploader.id}"}
  
      

    
      
