%h3 
.col-sm-6
  .col-sm-6
    .pull-right
    %h3  Documents
%br
%table.table.table.striped.table-bordered.table-condensed.table-hover{style: "width:70%"}
  %thead
    %tr
      %th Name
      %th Educational Certificates
      %th Previous employment proof
      %th Salary Slips For Previous Months
      %th
  %tbody
    - @documentuploaders.each do |documentuploader|
      %tr
        %td= documentuploader.name
        %td= link_to "view", documentuploader.educational_certificates_url
        %td= link_to "view", documentuploader.previous_employment_proof_url
        %td= link_to "view", documentuploader.salary_slips_for_previous_months_url
        %td
          = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), edit_documentuploader_path(documentuploader), :class => "btn btn-warning btn-sm", :title => "Edit"
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), documentuploader_path(documentuploader), :class => "btn btn-danger btn-sm", :data => {:method => 'delete' , :confirm => "Are You Sure to Delete ?"}, :title => "Delete"
 
