%table.table.table-bordered
  %thead
    %th Component
    %th Amount
  %tbody
    %tr
      %th Basic
      %td= @salary_tax.basic
    %tr
      %th HRA
      %td= @salary_tax.hra
    %tr
      %th Conveyance Allowance
      %td= @salary_tax.conveyance_allowance
    %tr
      %th City Compensatory Allowance
      %td= @salary_tax.city_compensatory_allowance
    %tr
      %th Special Allowance
      %td= @salary_tax.special_allowance
    %tr
      %th leave_settlement
      %td= @salary_tax.leave_settlement
    %tr
      %th Loyalty Allowance
      %td= @salary_tax.loyalty_allowance
    %tr
      %th Medical Allowance
      %td= @salary_tax.medical_allowance
    %tr
      %th Other Payment
      %td= @salary_tax.other_payment
    %tr
      %th Total Earnings
      %td= @salary_tax.total_earnings
