.navbar.navbar-default
  .container-fluid
    .col-md-offset-2.col-md-10
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"}
            = fa_icon "camera-retro 2x", :class => "menu-icon"
            %span.menu-text
              Menu Item 1
        %li.active
          %a{:href => "#"}
            = fa_icon "camera-retro 2x", :class => "menu-icon"
            %span.menu-text
              = "Menu Item 1"
        %li
          %a{:href => "#"}
            = fa_icon "camera-retro 2x", :class => "menu-icon"
            %span.menu-text
              = "Menu Item 1"

        %li
          %a{:href => "#"}
            = fa_icon "camera-retro 2x", :class => "menu-icon"
            %span.menu-text
              Menu Item 1
              
        %li
          %a{:href => "#"}
            = fa_icon "camera-retro 2x", :class => "menu-icon"
            %span.menu-text
              Link1
              
