.row  
  .container10
    .process
      .process-row
        .process-step
          - if("#{@admission.status}" == "Enquiry_Created")
            = link_to raw("<span class= 'fa fa-user fa2-2x'></span>"), enquiry_show_admission_path, :class => "btn btn-success1 btn-circle"
            %br
            %span.label.label-success Enquiry Form
            
          - else
            - if("#{@admission.status}" == "Application_Created" ||"#{@admission.status}" == "Assessment_Planned" || "#{@admission.status}" == "Assessment_Completed" || "#{@admission.status}" == "Management_Reviewed" ||  "#{@admission.status}" == "Completed" )
              = link_to raw("<span class= 'fa fa-user fa1-2x'></span>"), enquiry_show_admission_path, :class => "btn btn-success1 btn-circle"
            %br
            %span.label.label-success Enquiry Form
        .glyphicon.glyphicon-chevron-right
        .process-step
          - if("#{@admission.status}" == "Application_Created")
            = link_to raw("<span class= 'fa fa-file-text-o fa2-2x'></span>"), admission_show_admission_path, :class => "btn btn-success1 btn-circle"
            %br
            %span.label.label-success Application Form
            
          - elsif("#{@admission.status}" == "Application_Created" ||"#{@admission.status}" == "Assessment_Planned" || "#{@admission.status}" == "Assessment_Completed" || "#{@admission.status}" == "Management_Reviewed" ||  "#{@admission.status}" == "Completed" )
            
            = link_to raw("<span class= 'fa fa-file-text-o fa1-2x'></span>"), admission_show_admission_path, :class => "btn btn-success1 btn-circle"


            %br
            %span.label.label-success Application Form

          - elsif("#{@admission.status}" == "Enquiry_Created")
            = link_to raw("<span class= 'fa fa-file-text-o fa2-2x'></span>"), admission_new_admission_path, :class => "btn btn-danger1 btn-circle"
            %br
            %span.label.label-warning Application Form


        .glyphicon.glyphicon-chevron-right
        .process-step
          - if("#{@admission.status}" == "Assessment_Planned")
            = link_to raw("<span class= 'fa fa-calendar fa2-2x'></span>"), view_assessment_admission_path, :class => "btn btn-success1 btn-circle"
            %br
            %span.label.label-success Assessment Planned
          - elsif("#{@admission.status}" == "Assessment_Planned" || "#{@admission.status}" == "Assessment_Completed" || "#{@admission.status}" == "Management_Reviewed" ||  "#{@admission.status}" == "Completed" )
            = link_to raw("<span class= 'fa fa-calendar fa1-2x'></span>"), view_assessment_admission_path, :class => "btn btn-success1 btn-circle"
            %br
            %span.label.label-success Assessment Planned

          - elsif("#{@admission.status}" == "Application_Created") and current_user.admin?
            = link_to raw("<span class= 'fa fa-calendar fa2-2x'></span>"), "#", :onclick => "createAssessment('#{@admission.teacher_leader_id}');", :class => 'btn1 btn btn-danger1 btn-circle'
            %br
            %span.label.label-warning Assessment Planned
          - elsif current_user.teacher? or current_user.principal? or current_user.admin?
            = link_to raw("<span class= 'fa fa-calendar fa1-2x'></span>"), '#', :class => "btn btn-warning1 btn-circle"
            %br
            %span.label.label-default Assessment Planned
        .glyphicon.glyphicon-chevron-right
        .process-step
          - if("#{@admission.status}" == "Assessment_Completed" || "#{@admission.status}" == "Management_Reviewed" ||  "#{@admission.status}" == "Completed")
            = link_to raw("<span class= 'fa fa-tasks fa2-2x'></span>"), assessment_result_admission_path, :class => "btn btn-success1 btn-circle"
            %br
            %span.label.label-success Assessment Completed
          
          - elsif current_user.teacher?
            = link_to raw("<span class= 'fa fa-tasks fa2-2x'></span>"), "#", :class => 'btn1 btn btn-danger1 btn-circle'
            %br
            %span.label.label-warning Assessment Completed
          - elsif current_user.admin? or current_user.principal?
            = link_to raw("<span class= 'fa fa-tasks fa2-2x'></span>"), '#', :class => "btn btn-warning1 btn-circle"
            %br
            %span.label.label-default Assessment Completed
          
        .glyphicon.glyphicon-chevron-right      
        .process-step
          - if("#{@admission.status}" == "Management_Reviewed"||  "#{@admission.status}" == "Completed")
            = link_to raw("<span class= 'fa fa-users fa2-2x'></span>"), management_result_admission_path, :class => "btn btn-success1 btn-circle"
            %br
            %span.label.label-success Management Review
          - elsif("#{@admission.status}" == "Assessment_Completed") and current_user.principal?
            = link_to raw("<span class= 'fa fa-users fa2-2x'></span>"), "#", :class => 'btn1 btn btn-danger1 btn-circle'
            %br
            %span.label.label-warning Management Review
          - elsif current_user.admin? or current_user.teacher? or current_user.principal?
            = link_to raw("<span class= 'fa fa-users fa2-2x'></span>"), '#', :class => "btn btn-warning1 btn-circle"

            %br
            %span.label.label-default Management Reviewed
        
        .glyphicon.glyphicon-chevron-right      
        .process-step
          - if("#{@admission.status}" == "Completed")
            = link_to raw("<span class= 'fa fa-thumbs-up fa2-2x'></span>"), '#', :class => "btn btn-success1 btn-circle"
            %br
            %span.label.label-success Admission
          - elsif("#{@admission.status}" == "Management_Reviewed") and current_user.admin?
            = link_to raw("<span class= 'fa fa-thumbs-up fa1-2x'></span>"), "#", :class => 'btn1 btn btn-danger1 btn-circle',"data-target" => ".bs-example-modal-sm", "data-toggle" => "modal"
            %br
            %span.label.label-warning Admission
          - else
            = link_to raw("<span class= 'fa fa-thumbs-up fa2-2x'></span>"), "#", :class => 'btn1 btn btn-warning1 btn-circle'
            %br
            %span.label.label-default Admission
