%ul.circle-container
  %li
    %a{href: "#", :title => "Accountanting", "data-toggle" => "tooltip", "data-placement" => "bottom"}
      = image_tag "accountant.ico"
  %li
    %a{href: "#", :title => "Vendor", "data-toggle" => "tooltip", "data-placement" => "bottom"}
      = image_tag "vendor.ico"
  %li
    %a{href: "#", :title => "Travelling", "data-toggle" => "tooltip", "data-placement" => "bottom"}
      = image_tag "driver.ico"
  %li
    %a{href: "#", :title => "Parents", "data-toggle" => "tooltip", "data-placement" => "bottom"}
      = image_tag "parent.ico"
  %li
    %a{href: "#", :title => "Teachers", "data-toggle" => "tooltip", "data-placement" => "bottom"}
      = image_tag "teacher.ico"
  %li
    %a{href: "/student_masters", :title => "Students", "data-toggle" => "tooltip", "data-placement" => "left"}
      = image_tag "student.ico"
