.row
  .col-sm-5
    .well
      #calendar

  .col-sm-7
                    
    %br
    .col-sm-6
      .table-well
        %center
          %h4
            LISTING EVENTS
            
        %table.table-striped.table-condensed.table-bordered
          %tr
            %th{style: "width:7%"} Title
            %th{style: "width:7%"} Description
            %th{style: "width:7%"} Staff
            %th{style: "width:7%"} Grade
            %th{style: "width:7%"} Start time
            %th{style: "width:5%"} End time
            - @events.each do |event|
              %tr
                %td= event.title
                %td= event.description
                %td= event.staff
                %td= event.grade
                %td= event.start_time
                %td= event.end_time
                  
%br
                  
                    

