.row{"ng-controller" => "SetupMasterController"}
  = form_for @leave_permission, :html => { :class => "form-horizontal", :role => "form" } do |f|
    = render "shared/error_messages", :object => f.object
    .col-sm-12
      .form-group
        .col-sm-2
          .pull-left
            = f.label "Type of Leave:", :class => 'control-label'
        .col-sm-2
          %select{"ng-change" => "getLeaveMappings(selectedLeave)","ng-model" => "selectedLeave", "ng-show" => "showLeave"}
            %option Casual Leave
            %option Sick Leave
      
          %select{"ng-model" => "selectedLeave", "ng-show" => "showLossLeave"}
            %option Loss of Pay
          
          = f.hidden_field :type_of_leave, :value => '{{selectedLeave}}'
        .col-sm-2
          = f.label "Leave Balance:", :class => 'control-label'
        .col-sm-2
          %input{:ng_show => "showLeave",:type => "text", :readonly => true, :class => "form-control", :ng_model => "exact_test_leaves"}
          %input{:ng_show => "showLossLeave", :type => "text", :class => "form-control", :ng_model => "loss_of_pay_value"}
          {{loss_of_pay_value}}
       
     
     
    .col-sm-12
      .form-group
        .col-sm-2
          = f.label "From Date", :class => 'control-label'
        .col-sm-2
          = f.text_field :from_date, :class => ' form-control' , :id => 'from_date'
        .col-sm-2
          = f.label "Day", :class => 'control-label'
        .col-sm-2
          = f.select :from_day, options_for_select([['half day','0.5'],['full day','1']]),{},{:class => 'admission form-control'}
    .col-sm-12
      .form-group
        .col-sm-2
          = f.label "To Date", :class => 'control-label'
        .col-sm-2
          = f.text_field :to_date, :class => 'date form-control' , :id => 'to_date'
        .col-sm-2
          = f.label "Day", :class => 'control-label'
        .col-sm-2
          = f.select :to_day, options_for_select([['half day','0.5'],['full day','1']]),{},{:class => 'admission form-control'}
          #results

    .col-sm-12
      .form-group
        .col-sm-2
          = f.label "Reason", :class => 'control-label'
        .col-sm-2
          = f.text_area :reason, :class => 'form-control'
         
    .col-sm-8
      %center
        
        = f.hidden_field :status, :value => 'Pending'
        = f.submit "Submit", :class => 'btn btn-primary'         



