.panel.panel-default
  .test
    .col-sm-3
      .pull-left
        .input-group
          %span.input-group-addon
            = fa_icon "search lg"
          %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
          %br
    .col-sm-4
      %center
        %h4
          Suggest Books
    .col-sm-4
      .pull-right
        %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Suggest Book"
        #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                %h4#myModalLabel.modal-title Suggest Book
              = form_for RequestNewBook.new , :html => {:class => "form-horizontal", :role => "form" , :multiple => true} do |f|
                .modal-body
                  .row
                    .col-sm-6
                      = f.label "Book Name:", :class => 'control-label'
                      = f.text_field :book_name,:class => 'form-control'
                    .col-sm-6
                      
                    .col-sm-6
                      = f.label "Author Name:", :class => 'control-label'
                      = f.text_field :author_name,:class => 'form-control'
                    .col-sm-6
                        
                       
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                  = f.hidden_field :status, :value => "Send_Approval"
                  = button_tag "Save", :type => "submit", :class => 'btn btn-primary'

%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      
      %th Book Name
      %th Author Name
      %th
      
  %tbody
    - @request_new_books.each do |request|
      %tr
        %td= request.book_name
        %td= request.author_name
        %td
        
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), request_new_book_path(request), :class => "btn btn-danger btn-sm", :data => {:method => 'delete' , :confirm => "Are You Sure to Delete ?"}, :title => "Delete" 
