= form_for @staffrecruit, :html => { :class => "form-horizontal", :role => "form"} do |f|
  = render "shared/error_messages", :object => f.object
  .col-sm-12
    .form-group
      .col-sm-2
        = f.label "Form_No:", :class => 'control-label'
      .col-sm-2
        = f.text_field :form_no,:class => 'form-control'
      .col-sm-2
      .col-sm-2.required
        = f.label "Name:", :class => 'control-label'
      .col-sm-2
        = f.text_field :faculty_name,:class => 'form-control'

    .form-group{"ng-controller" => "StaffadminsController"}
      .col-sm-2
        = f.label "Post:", :class => 'control-label'
      .col-sm-2
        %select{"ng-model" => "myPost","ng-hide" => "teaching", "ng-options" => "post.post_name for post in posts", :class => "staffrecruit_post form-control", :required => "required"}
          %option{style: "display:none", value: ""} Select Post
        = f.hidden_field :post, :value => "{{myPost.post_name}}"
      .col-sm-2
      .col-sm-2
        = f.label "Role:", :class => 'control-label'
      .col-sm-2
        %select{"ng-model" => "myLead", "ng-options" => "role.role_name for role in roles", :class => " form-control", :required => "required"}
          %option{style: "display:none", value: ""} Select Role
          = f.hidden_field :dept, :value => "{{myLead.role_name}}"
          = f.hidden_field :staffhead, :value => "{{myLead.head}}"
          = f.hidden_field :role_id, :value => "{{myLead.id}}"
          = f.hidden_field :user_id, :value => "{{myLead.role_id}}"
    .form-group{"ng-controller" => "StaffadminsController"}
      .col-sm-2
        = f.label "Preferred Class:", :class => 'staffrecruit_klass control-label'
      .col-sm-2
        %select{"ng-model" => "myPreferredClass","ng-hide" => "teaching", "ng-options" => "klass.grade_name for klass in klasses",:class => "staffrecruit_klass form-control",:required => "required"}          
          %option{style: "display:none", value: ""} Select Grade
          
        = f.hidden_field :klass, :value => "{{myPreferredClass.grade_name}}"
      .col-sm-2
      .col-sm-2
        = f.label "Preferred Subject:", :class => 'staffrecruit_subject control-label'
      .col-sm-2
        %select{"ng-model" => "myPreferredSubject","ng-hide" => "teaching", "ng-options" => "subject.subject_name for subject in subjects",:class => "staffrecruit_subject form-control",:required => "required"}          
          %option{style: "display:none", value: ""} Select Subject
          
        = f.hidden_field :subject, :value => "{{myPreferredSubject.subject_name}}"

      -# .col-sm-1
      -#   = f.label "Admin Head:", :class => 'control-label'
      -# .col-sm-2{"ng-controller" => "StaffadminsController"}
      -#   %select{"ng-model" => "myLead", "ng-options" => "role.head for role in roles", :class => "form-control", :required => "required"}
      -#     %option{style: "display:none", value: ""} Select Head
      
    .form-group
      .col-sm-2.required
        = f.label "Date Of Birth:", :class => 'control-label'
      .col-sm-2
        = f.text_field :dob,:class => 'datepicker form-control'
      .col-sm-2
      .col-sm-2.required
        = f.label "Nationality:", :class => 'control-label'
      .col-sm-2
        = f.country_select :nationality, {:include_blank => '-Select-'}, :class => 'staffrecruit'
      
      
    .form-group
      .col-sm-2.required
        = f.label "Gender:", :class => 'control-label'
      .col-sm-2
        = f.radio_button :gender, 'Female'
        = f.label :"female"
        %br
        = f.radio_button :gender, 'Male'
        = f.label :"male"
        %br
        = f.radio_button :gender, 'Others'
        = f.label :"others"
      .col-sm-2
      .col-sm-2.required
        = f.label "Email:", :class => 'control-label'
      .col-sm-2
        = f.text_field :email, :class => 'form-control'
      
    .form-group
      .col-sm-2.required
        = f.label "Mobile No:", :class => 'control-label'
      .col-sm-2
        = f.text_field :mobile_no, :class => 'form-control'
      .col-sm-2
      .col-sm-2.required
        = f.label "Address:", :class => 'control-label'
      .col-sm-2
        = f.text_area :address, :class => 'form-control'

    .form-group
      .col-sm-2
        = f.label "Known Languages:", :class => 'control-label'
      .col-sm-2
        = f.text_field :language, :class => 'form-control'
      .col-sm-2
      .col-sm-2
        = f.label "Experience:", :class => 'control-label'
      .col-sm-2
        = f.select(:experience, options_for_select([['0-1 year'],['1-2 years'],['2-3 years'],['3-4 years'],['4-5 years'],['5-6 years']]),{:include_blank => '-Select-'}, :class => 'staffrecruit')
     
    .form-group
      .col-sm-2
        = f.label "Expected Salary:", :class => 'control-label'
      .col-sm-2
        = f.select(:expected_salary, options_for_select([['10000'],['10000-20000'],['20000-30000'],['30000']]),{:include_blank => '-Select-'}, :class => 'staffrecruit')
      .col-sm-2
      .col-sm-2.required
        = f.label "Qualification:", :class => 'control-label'
      .col-sm-2
        = f.select(:education_qualification, options_for_select([['M.Sc(B.Ed)'],['M.A'],['M.Sc'],['Graduation'],['MBA'],['MCA']]),{:include_blank => '-Select-'}, :class => 'staffrecruit')
      
        
      
  .row
    %center
      = f.hidden_field :status,:value => "Application_Created"
      = button_tag "Create", :type => "submit", :class => 'btn btn-primary'
