.row
  .col-sm-3
    .pull-left
      .input-group
        %span.input-group-addon
          = fa_icon "search lg"
        %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}/
        %br
  .col-sm-4
    %center
      %h4
        Assessment Completed
%br
%br

%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Faculty
      %th Form no
      %th Time
      %th Review Comments
      %th Result
      %th Status
        
  %tbody
    - @staffrecruits.each do |staffrecruit|
      %tr
        %td= staffrecruit.staffhead
        %td= link_to "#{staffrecruit.form_no}",homeindex_staffrecruit_path(staffrecruit)
        %td= staffrecruit.start_time
        %td= staffrecruit.title
        %td= staffrecruit.assessment_result
        %td= staffrecruit.status
        
