.panel.panel-default
  .panel-body
    .col-sm-3
      .pull-left
        .input-group
          %span.input-group-addon
            = fa_icon "search lg"
          %input#search{name: "search", placeholder: "Enter search term...", type: "text",:class => 'form-control'}/
          %br
    .col-sm-6
      %center
        %h4
          Closed Forms
          %br
          %br

%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Enquiry Form
      %th Name
      %th Post
      %th Reason for Closing
        
  %tbody
    - @staffrecruits.each do |staffrecruit|
      %tr
        %td= staffrecruit.form_no
        %td= staffrecruit.name
        %td= staffrecruit.post
        %td= staffrecruit.closestatus
        
