.row
  .col-sm-3
    .pull-left
      .input-group
        %span.input-group-addon
          = fa_icon "search lg"
        %input#search{name: "search", placeholder: "Enter search term...", type: "text",:class => 'form-control'}/
        %br
  .col-sm-4
    %center
      %h3
        Closed Forms
%br
%br

%table#tblData.target.table.table-striped.table-condensed.table-bordered{:style => "width:100%"}
  %thead
    %tr
      %th Form no
      %th Name
      %th Post
      %th Status
      %th Reason for Closing
        
  %tbody
    - @staffrecruits.each do |staffrecruit|
      %tr
        %td{style: "width:20%"}
          = staffrecruit.form_no
        %td{style: "width:20%"}
          = staffrecruit.faculty_name
        %td{style: "width:20%"}
          = staffrecruit.post
        %td{style: "width:20%"}
          = staffrecruit.status
        %td{style: "width:20%"}
          = staffrecruit.closestatus
        
