.row
  .col-sm-3
    .pull-left
      .input-group
        %span.input-group-addon
          = fa_icon "search lg"
        %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
        %br
  .col-sm-4
    %center
      %h4
        Documents Verified
%br
%br
%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr{style: "width:25%"}
      %th Form no
      %th Educational Certificates
      %th Previous Employment Proof
      %th Salary Slips for previous Months
  %tbody
    - @staffrecruits.each do |staffrecruit|
      %tr
        %td
          = link_to "#{staffrecruit.form_no}",homeindex_staffrecruit_path(staffrecruit)
        %td
          = link_to "Edu_Certificates", staffrecruit.educational_certificates_url
        %td
          = link_to "Previous Employment Proof", staffrecruit.previous_employment_proof_url
        %td
          = link_to "Salary slips forprevious Months",staffrecruit.salary_slips_for_previous_months_url
        
