.row
  .pull-right
    - if("#{@staffrecruit.status}" == 'Application_Created'||"#{@staffrecruit.status}" == 'Document_Verified'||"#{@staffrecruit.status}" == 'Assessment_Planned'||"#{@staffrecruit.status}" == 'Assessment_Completed'||"#{@staffrecruit.status}" == 'Management_Reviewed'||"#{@staffrecruit.status}" == 'Selected' )
      - if current_user.admin?
        - if("#{@staffrecruit.status}" == 'Document_Verified')
          = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), edit_document_staffrecruit_path, :class => 'btn btn-warning btn-sm', :title => 'Edit'

        %button.change.btn.btn-danger.btn-sm{"data-target" => ".bs-example-modal-sm", "data-toggle" => "modal",:data=> {:id => "#{@staffrecruit.id}"}} 
          %span.glyphicon.glyphicon-ban-circle
        #mypopModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %center
                  %h4#myModalLabel.modal-title Reason for Closing
                  = form_for @staffrecruit do |f|
                    .modal-body
                      .row
                        .col-sm-1
                          = f.radio_button :closestatus, "Not upto the mark"
                        .col-sm-10
                          = f.label "Not Upto the Mark"
                      .row
                        .col-sm-1
                          = f.radio_button :closestatus, "Financial Crisis"
                        .col-sm-10
                          = f.label "Financial Crisis"
                      .row
                        .col-sm-1
                          = f.radio_button :closestatus, "Didn't Pick the Interview Call"
                        .col-sm-10
                          = f.label "Didn't Pick the Interview Call"
                              
                    .modal-footer
                      = f.hidden_field :status,:value => "Form_Closed"
                      = button_tag "Save", :type => "submit", :class => 'btn btn-primary' 
                      
      - else 
        -# - if current_user.admin?
        -#   %button.change.btn.btn-danger.btn-sm 
        -#     %span.glyphicon.glyphicon-ban-circle
                  

  .container
    - if("#{@staffrecruit.status}" == "Document_Verified" ||"#{@staffrecruit.status}" == "Application_Created" ||"#{@staffrecruit.status}" == "Assessment_Planned" || "#{@staffrecruit.status}" == "Assessment_Completed" || "#{@staffrecruit.status}" == "Management_Reviewed" ||  "#{@staffrecruit.status}" == "Selected"|| "#{@staffrecruit.status}" == "Completed" )
      = render "shared/steprecruitment"
  
    %br
    .row
      .col-sm-12
        %table.table-striped.table-condensed{:style => "width:80%"}
          %tr
            %td{style: "width:25%"}
              %b
                %span.label.label-info Enquiry #
            %td{style: "width:25%"}
              = @staffrecruit.form_no
            %td
            %td
            
          %tr
            %td
              %label{for: "name"} Name
            %td
              = @staffrecruit.faculty_name
            %td
              %label{for: "post"} Post
            %td
              = @staffrecruit.post
          %tr
            %td
              %label{for: "dob"} DOB
            %td
              = @staffrecruit.dob
            %td
              %label{for: "gender"} Gender
            %td
              = @staffrecruit.gender
            

.row
  .col-sm-10
    .panel.panel-default
      %h4.panel-heading
        Document Uploader
      = form_for @staffrecruit do |f|
        %table
          %thead
            %td
              = f.label "Educational Certificates", :class => 'control-label'
            %td
              = f.label "Previous Employment Proof"
            %td
              = f.label "Salary slips for previous months"
            %td

          %tbody
            %td
              = f.file_field :educational_certificates
            %td
              = f.file_field :previous_employment_proof
            %td
              = f.file_field :salary_slips_for_previous_months
            %td
                      
              = f.hidden_field :status, :value => 'Document_Verified'
              = f.submit "Upload", :class => 'btn btn-primary'
   
