.row
  .col-sm-3
    .pull-left
      .input-group
        %span.input-group-addon
          = fa_icon "search lg"
        %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
        %br
  .col-sm-4
    %center
      %h3
        Enquiry Forms
        
  .col-sm-4
    .pull-right
      - if current_user.admin?
        = link_to 'New Enquiry', new_staffrecruit_path, :class => 'btn btn-primary'
%br
%br
%table#tblData.target.table.table-striped.table-condensed.table-bordered{:style => "width:100%"}
  %thead
    %tr
      %th Form no
      %th Name
      %th Qualification
      %th Post
      %th Status
        
  %tbody
    - @staffrecruits.each do |staffrecruit|
      %tr
        %td{:style => "width:20%"}
          = link_to "#{staffrecruit.form_no}", homeindex_staffrecruit_path(staffrecruit)
        %td{:style => "width:20%"}
          = staffrecruit.faculty_name
        %td{:style => "width:20%"}
          = staffrecruit.education_qualification
        %td{:style => "width:20%"}
          = staffrecruit.post
        %td{:style => "width:20%"}
          = staffrecruit.status
        

