.row
  .pull-right
    - if("#{@staffrecruit.status}" == 'Application_Created'||"#{@staffrecruit.status}" == 'Document_Verified'||"#{@staffrecruit.status}" == 'Assessment_Planned'||"#{@staffrecruit.status}" == 'Assessment_Completed'||"#{@staffrecruit.status}" == 'Management_Reviewed'||"#{@staffrecruit.status}" == 'Selected' )
      - if current_user.admin?
        %button#change2.btn.btn-danger.btn-sm{"data-target" => ".bs-example-modal-sm", "data-toggle" => "modal",:data=> {:id => "#{@staffrecruit.id}"}} 
          %span.glyphicon.glyphicon-ban-circle
        #mypopModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "data-backdrop" => "static","data-keyboard" => "false"}
          .modal-dialog
            .modal-content
              .modal-header
                %center
                  %h4#myModalLabel.modal-title Reason for Closing
                  = form_for @staffrecruit do |f|
                    .modal-body
                      .row{"ng-controller"=>"StaffadminsController"}
                        .row
                          .col-sm-3
                            = label_tag :closestatus
                          .col-sm-6
                            %select{"ng-model" => "myClose", "ng-options" => "reason.reason for reason in reasons", :class => 'form-control'}
                              %option{style: "display:none", value: ""} Reason for Closing
                        .row
                          .pull-right
                            = f.hidden_field :closestatus, :value => "{{myClose.reason}}"
                            = f.hidden_field :status,:value => "Form_Closed"
                            = button_tag "Save", :type => "submit", :class => 'btn btn-primary' 
                      
      - else 
        - if current_user.admin?
          %button.change.btn.btn-danger.btn-sm 
            %span.glyphicon.glyphicon-ban-circle
                  

  .container
    - if("#{@staffrecruit.status}" == "Document_Verified" ||"#{@staffrecruit.status}" == "Application_Created" ||"#{@staffrecruit.status}" == "Assessment_Planned" || "#{@staffrecruit.status}" == "Assessment_Completed" || "#{@staffrecruit.status}" == "Management_Reviewed" ||  "#{@staffrecruit.status}" == "Selected"|| "#{@staffrecruit.status}" == "Completed" )
      = render "shared/steprecruitment"
  
    %br
    .row
      .col-sm-12
        %table.table-striped.table-condensed{:style => "width:80%"}
          %tr
            %td{style: "width:25%"}
              %b
                %span.label.label-info Enquiry #
            %td{style: "width:25%"}
              = @staffrecruit.form_no
            %td
            %td
            
          %tr
            %td
              %label{for: "name"} Name
            %td
              = @staffrecruit.faculty_name
            %td
              %label{for: "post"} Post
            %td
              = @staffrecruit.post
          %tr
            %td
              %label{for: "dob"} DOB
            %td
              = @staffrecruit.dob
            %td
              %label{for: "gender"} Gender
            %td
              = @staffrecruit.gender
            
.row
  .pull-left
    .calendar2
    #myModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            .row
              .pull-left
                %h4#myModalLabel.modal-title Assessment Plan
            %hr
            = form_for @staffrecruit do |f|
              .modal-body
                .row
                  .col-sm-3
                    = f.label "Interviewer", :class => 'col-sm-3 control-label'
                  .col-sm-5
                    = @staffrecruit.staffhead
                    %br
                    %br
                .row
                  .col-sm-3
                    = f.label "Time", :class => 'col-sm-3 control-label'
                  .col-sm-5
                    = f.time_field :start_time ,:class => 'form-control'
                    %br
                .row
                  .col-sm-3
                    = f.label "Description", :class => 'col-sm-3 control-label'              
                  .col-sm-5
                    = f.text_area :title ,:class => 'form-control'
             
                = f.hidden_field :status,:value => "Assessment_Planned"
                = button_tag "Save", :type => "submit", :class => ' pull-right btn btn-primary' 
                %br
                %br
