.row
  .col-sm-12
    = render "shared/steprecruitment"
    %br
.row
  .col-sm-8
    = render "homeindex"
  .col-sm-3
    - if("#{@staffrecruit.status}" == 'Application_Created'||"#{@staffrecruit.status}" == 'Document_Verified'||"#{@staffrecruit.status}" == 'Assessment_Planned'||"#{@staffrecruit.status}" == 'Assessment_Completed'||"#{@staffrecruit.status}" == 'Management_Reviewed')
      = link_to "Close the Form", "#", :class => "change btn1 btn btn-danger", :data => {:id => "#{@staffrecruit.id}"}
      #mypopModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %center
                %h4#myModalLabel.modal-title Reason for Closing
            = form_for @staffrecruit do |f|
              .modal-body
                .row
                  .col-sm-1
                    = f.radio_button :closestatus, "Not upto the mark"
                  .col-sm-10
                    = f.label "Not Upto the Mark"
                .row
                  .col-sm-1
                    = f.radio_button :closestatus, "Financial Crisis"
                  .col-sm-10
                    = f.label "Financial Crisis"
                .row
                  .col-sm-1
                    = f.radio_button :closestatus, "Didn't Pick the Interview Call"
                  .col-sm-10
                    = f.label "Didn't Pick the Interview Call"
                                 
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button",:class => 'btn btn-primary'} Close
                = f.hidden_field :status,:value => "Form_Closed"
                = button_tag "Save", :type => "submit", :class => 'btn btn-primary' 

    - else
      = link_to "Form Closed", "#", :class => "btn1 btn btn-success", :data => {:id => "#{@staffrecruit.id}"}

    %br
    %br
      
    - if("#{@staffrecruit.status}" == 'Application_Created')
      = link_to "Doc Verification",new_staffrecruit_staffrecruit_path(@staffrecruit),:class => 'btn1 btn btn-success'
    - if("#{@staffrecruit.status}" == 'Document_Verified')
      = link_to "View Documents", document_verification_staffrecruit_path(@staffrecruit),:class => 'btn1 btn btn-primary'
      %br
      %br
      = link_to "Create Assessment", "#", :onclick => "createStaffAssessment('#{@staffrecruit.staff_leader_id}');",:class => 'btn1 btn btn-success'
    - if("#{@staffrecruit.status}" == 'Assessment_Planned')
      = link_to "View Documents", document_verification_staffrecruit_path(@staffrecruit),:class => 'btn1 btn btn-primary'
      %br
      %br
      = link_to "View Assessment", view_assessment_staffrecruit_path(@staffrecruit), :class => 'btn1 btn btn-primary'
      %br
      %br
    - if("#{@staffrecruit.status}" == 'Assessment_Completed')
      = link_to "View Documents", document_verification_staffrecruit_path(@staffrecruit),:class => 'btn1 btn btn-primary'
      %br
      %br
      = link_to "View Assessment", view_assessment_staffrecruit_path(@staffrecruit), :class => 'btn1 btn btn-primary'
      %br
      %br
      = link_to "Assessment Result", assessment_result_staffrecruit_path(@staffrecruit), :class => 'btn1 btn btn-primary'
      %br
      %br
%br
%br
 
.row
  .col-sm-8
    #accordion.panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
              Management Result
        #collapseOne.panel-collapse.collapse.in
          .panel-body
            %b
              %label Result
              %label.btn.btn-default
                = @staffrecruit.management_result
            .pull-right
              %label Review Comments
              %label.btn.btn-default
                = @staffrecruit.description
                
                
