.row
  .col-sm-3
    .pull-left
      .input-group
        %span.input-group-addon
          = fa_icon "search lg"
        %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}/
        %br
  .col-sm-4
    %center
      %h4
        List of Selected Forms
%br
%br

%table#tblData.target.table.table-striped.table-condensed.table-bordered{:style => "width:95%"}
  %thead
    %tr
      %th Form no
      %th Name
      %th Post
      %th Status
        
  %tbody
    - @staffrecruits.each do |staffrecruit|
      %tr
        %td{:style => "width:25%"}
          = link_to "#{staffrecruit.form_no}", homeindex_staffrecruit_path(staffrecruit)
        %td{:style => "width:25%"}
          = staffrecruit.name
        %td{:style => "width:25%"}
          = staffrecruit.education_qualification
        %td{:style => "width:25%"}
          = staffrecruit.gender
        %td= staffrecruit.post
        %td= staffrecruit.comments
        %td= staffrecruit.description
        %td= staffrecruit.final_result

