.row
  .col-sm-12
    = render "shared/steprecruitment"
    %br
.row
  .col-sm-8
    = render "homeindex"
  .col-sm-3
    - if("#{@staffrecruit.status}" == 'Application_Created'||"#{@staffrecruit.status}" == 'Assessment_Planned'||"#{@staffrecruit.status}" == 'Document_Verified'||"#{@staffrecruit.status}" == 'Assessment_Completed'||"#{@staffrecruit.status}" == 'Management_Reviewed')
      = link_to "Close the Form", "#", :class => "change2 btn1 btn btn-danger", :data => {:id => "#{@staffrecruit.id}"}
      #Modal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %center
                %h4#Modal.modal-title Reason for Closing
            = form_for @staffrecruit do |f|
              .modal-body
                .row
                  .col-sm-1
                    = f.radio_button :closestatus, "Not upto the mark"
                  .col-sm-10
                    = f.label "Not Upto the Mark"
                .row
                  .col-sm-1
                    = f.radio_button :closestatus, "Financial Crisis"
                  .col-sm-10
                    = f.label "Financial Crisis"
                .row
                  .col-sm-1
                    = f.radio_button :closestatus, "Didn't Pick the Interview Call"
                  .col-sm-10
                    = f.label "Didn't Pick the Interview Call"
                                 
              .modal-footer
                = f.hidden_field :status,:value => "Form_Closed"
                = button_tag "Save", :type => "submit", :class => 'btn btn-primary' 
    - else
      = link_to "Form Closed", "#", :class => "btn1 btn btn-success", :data => {:id => "#{@staffrecruit.id}"}
    %br
    %br

.row
  .col-sm-11
    .panel.panel-default
      %h4.panel-heading
        Document Uploader
      = form_for @staffrecruit do |f|
        %table
          %thead
            %td
              = f.label "Educational Certificates", :class => 'control-label'
            %td
              = f.label "Previous Employment Proof"
            %td
              = f.label "Salary slips for previous months"
            %td

          %tbody
            %td
              = f.file_field :educational_certificates
            %td
              = f.file_field :previous_employment_proof
            %td
              = f.file_field :salary_slips_for_previous_months
            %td
                      
              = f.hidden_field :status, :value => 'Document_Verified'
              = f.submit "Upload", :class => 'btn btn-primary'
   
