= form_for @new_vehicle , :html => { :class => "form-horizontal", :role => "form"} do |f| 
  = render "shared/error_messages", :object => f.object
  .modal-body 
    .row
      .col-sm-4
        = f.label "Make Of Bus"
      .col-sm-3
        = f.text_field "make_of_bus", :class => 'form-control'
        %br
    .row
      .col-sm-4
        = f.label "Model No."
      .col-sm-3
        = f.text_field "model_no", :class => 'form-control'
        %br
    .row
      .col-sm-4
        = f.label "Year of Manufacture" 
      .col-sm-3
        = f.text_field "year_of_manufacture", :class => 'date-picker-year form-control'
        %br
    .row
      .col-sm-4
        = f.label "Purchase"
      .col-sm-2
        = f.select "purchase_option" , options_for_select([['Own'],['Lease']]), :class => 'form-control'
        %br
        %br
    .row
      .col-sm-4
        = f.label "Purchase Date"
      .col-sm-3
        = f.text_field "purchase_option_date", :class => 'datepicker form-control'
        %br
        %br
    .row
      .col-sm-4
        = f.label "Capacity"
      .col-sm-3
        = f.text_field "capacity", :class => 'form-control',:readonly => true;
        %br
        
        = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
      
