%button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Add New Bus"
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title New Bus
        = form_for NewVehicle.new , :html => { :class => "form-horizontal", :role => "form"} do |f| 
          .modal-body
            .row
              .col-sm-4
                = f.label "Make Of Bus"
              .col-sm-4
                = f.select "make_of_bus" , options_for_select([['Ashok Leyland'],['Tata Motors '],['Eicher Motors'],['Mahindra'],['MAN'],['Force Motors']]) , :class => 'form-control'
              %br
              %br
            .row
              .col-sm-4
                = f.label "Model No."
              .col-sm-4
                = f.text_field "model_no", :class => 'form-control'
                %br
            .row
              .col-sm-4
                = f.label "Year of Manufacture" 
              .col-sm-4
                = f.text_field "year_of_manufacture", :class => 'date-picker-year',:class => 'form-control'
                %br
            .row
              .col-sm-4
                = f.label "Purchase option"
              .col-sm-2
                = f.select "purchase_option" , options_for_select([['Own'],['Lease']]) , :class => 'form-control'
                %br
                %br
            .row
              .col-sm-4
                = f.label "Purchase Date"
              .col-sm-4
                = f.text_field "purchase_option_date",  :class => 'datepicker form-control'
                %br
                %br
            .row
              .col-sm-4
                = f.label "Capacity"
              .col-sm-4
                = f.text_field "capacity", :class => 'form-control'
                %br
            .row
              .col-sm-10
              .col-sm-2
                = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
          
