.row
  .col-sm-2
    %h3
      Bus List
  .col-sm-4
  - if current_user.transport_head?
    .col-sm-2
      = render 'modal'
.row
  .col-sm-10
    %table#tblData.target.table.table-striped.table-condensed.table-bordered
      %thead
        %th Bus No
        %th Company 
        %th Model 
        %th Year Of Manufacturing
        %th Ownership
        %th Purchase Date
        %th Capacity
        - if current_user.transport_head?
          %th
      %tbody
        - @new_vehicle.each do |new_vehicle|
          %tr
            %td= new_vehicle.id
            %td= new_vehicle.make_of_bus
            %td= new_vehicle.model_no
            %td= new_vehicle.year_of_manufacture
            %td= new_vehicle.purchase_option
            %td= new_vehicle.purchase_option_date
            %td= new_vehicle.capacity
            - if current_user.transport_head?
              %td 
                = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), edit_new_vehicle_path(new_vehicle), :class => "btn-sm btn-warning btn-sm", :title => "Edit"
                = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), new_vehicle_path(new_vehicle), :class => "form btn-sm btn-danger",:data => {:method => 'delete' ,:confirm => "Are You Sure to Delete " }
        

