.row
  .col-sm-2
  .col-sm-4
    %center
      %h2
        Buses List
  .col-sm-3
  .col-sm-2
    %h5
      = render 'modal'
%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %th Company of Bus
    %th Model No
    %th Bus No
    %th Year Of Manufacturing
    %th Purchase
    %th Purchase Date
    %th Capacity
    %th
  %tbody
    - @new_vehicle.each do |new_vehicle|
      %tr
        %td= new_vehicle.make_of_bus
        %td= new_vehicle.model_no
        %td= new_vehicle.id
        %td= new_vehicle.year_of_manufacture
        %td= new_vehicle.purchase_option
        %td= new_vehicle.purchase_option_date
        %td= new_vehicle.capacity
        %td 
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), new_vehicle_path(new_vehicle), :class => "form btn btn-danger",:data => {:method => 'delete' ,:confirm => "Are You Sure to Delete " }
        

