.row
  .row
    .col-md-1
    .col-md-4
      %h4{style: "font-weight: bold"} ASSESSMENT CRITERIA FOR LABS    
  .row
    .col-md-1
    .col-md-2
      %h5{style: "font-weight: bold"} SELECT SUBJECT
      .col-md-12
        %select{"ng-model" => "labName","ng-options" => "lab.id as lab.lab_name  for lab in lab_masters",:class => "form-control"}
    .col-md-9
      %h5{style: "font-weight: bold"} SELECT GRADES
      .col-md-1{"ng-repeat" => "grade in all_grades"}
        %h5{style: "font-weight: bold"} 
          %input{"ng-model" => "checked_value", type: "checkbox", "ng-change" => "addGradeArray(grade.id,checked_value)" }
          {{grade.grade_name}}
  .row
    .col-md-1
    .col-md-8
      .form-group{"ng-repeat" =>"criteria in criterias"}
        .col-md-3
          = label_tag "Criteria  {{$index+1}}", nil, :class => "form-label"
        .col-md-8
          = text_field_tag "",nil, :class => "form-control",:ng_model => "criteria.myCriteria" ,:placeholder => "Criteria {{$index+1}}" 
        .col-md-1
          = link_to raw("<i class='fa fa-times-circle fa-lg'></i> "), "#", :class => "btn btn-danger", :ng_click => "destroyCriteria($index)"
                
  .row
    %br
    .col-md-5.col-md-offset-3
      %button{:type => "button", :class=> "btn btn-primary", :ng_click => "addCriteria()"}=  "Add  Criteria"
      %button{:type=>"submit", :class=> "btn btn-primary", :ng_click => "saveAssessmentCriteria()"}=  "Save" 
      
