%form{ :class=> "form-horizantal", :ng_submit => "submitGradeBuckets()", :id => "gradeBucketsForm"}
  .col-md-12.form-group{"ng-repeat" => "gradeBucket in newFeeGradeBuckets"}
    = label_tag "Bucket {{$index+1}}", nil, :class => "form-label col-md-3"
    .col-md-4
      %select{:class => "form-control" , :placeholder => "From" ,"ng-model" => "gradeBucket.grade_from", :ng_options => "grade.id as grade.grade_name for grade in gradeBucket.optionsFrom", :grade_options_manager => "" , :index => "{{$index}}", :grade_type => "from"}
        -#:ng_change => "gradeChangeActionFrom(gradeBucket, this)"} 
      = hidden_field_tag "bulk_fee_grade_buckets[][grade_from]", "{{gradeBucket.grade_from}}" 
    .col-md-4
      %select{:class => "form-control" , :placeholder => "To" ,"ng-model" =>  "gradeBucket.grade_to", :ng_options => "grade.id as grade.grade_name for grade in gradeBucket.optionsTo", :grade_options_manager => "", :index => "{{$index}}", :grade_type => "to"}}
      = hidden_field_tag "bulk_fee_grade_buckets[][grade_to]", "{{gradeBucket.grade_to}}" 
  .row
    .col-md-5.col-md-offset-4
      %button{:type=>"submit", :class=> "btn btn-primary"}=  "Save"
      = link_to "Add more", "#", :class => "btn btn-primary", :ng_click => "addMoreBuckets()"

      
