= form_for @fee_grade_bucket, :class => "form-horizntal" do |f|
  = render "shared/error_messages", :object => f.object
  .form-group
    = f.label :bucket_name, :class => "form-label col-md-2"
    .col-md-5
      = f.text_field :bucket_name, :class => "form-control"
    .col-md-3
      = f.submit "Save", :class=> "btn btn-primary"
