.col-md-7{"ng-controller" => "FeeGradeBucketsController"}
  %h3 
    = "Types Of Buckets"
    .pull-right
      = link_to "New Fee Buckets", "#", :class => "btn btn-primary", :ng_click => "newGradeBuckets()"
  %hr

  %table.table.table-bordered
    %thead
      %tr
        %th From
        %th To
        %th
    %tbody
      %tr{"ng-repeat" => "feeGradeBucket in feeGradeBuckets"}
        %td {{feeGradeBucket.grade_from}}
        %td {{feeGradeBucket.grade_to}}
        %td
          = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), "#", :class => "btn btn-warning btn-sm", :title => "Edit", :ng_click => "update(feeGradeBucket)"
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"),"#", :class => "btn btn-danger btn-sm", :title => "Delete", :ng_click => "destroy(feeGradeBucket)"


  .modal.fade{ :id => "createModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "myModalLabel"} New Grade Buckets
        .modal-body
          = render "form"


  .modal.fade{ :id => "editModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "editModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "editModalLabel"} 
        .modal-body
          

            
   
   
