%h3 
  = "Types Of Buckets"
  = link_to "Define bulk", new_fee_grade_bucket_path, :class => "btn btn-primary"
  
  %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Add New"
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title New cheque
          = form_for FeeGradeBucket.new , :html => { :class => "form-horizontal", :role => "form"} do |f| 
            .modal-body
              .col-sm-3
                = f.label "Bucket", :class => 'form-control'
              .col-sm-3
                = f.text_field "bucket_name", :class => 'form-control'
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
              = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
   
%table.table.table-bordered
  %thead
    %tr
      %th Types Of Bucket
      %th
  %tbody
    - @fee_grade_buckets.each do |fee_grade_bucket |
      %tr
        %td= fee_grade_bucket.bucket_name
        %td
          = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), edit_fee_grade_bucket_path(fee_grade_bucket), :class => "btn btn-warning btn-sm", :title => "Edit"
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"),fee_grade_bucket_path(:id => fee_grade_bucket.id), :class => "btn btn-danger btn-sm", :data=> {:confirm => "Are you sure?", method: :delete}, :title => "Delete"
  
         
= will_paginate @fee_grade_buckets, param_name: "page", previous_label: h("<"), next_label: h(">")          

   

   
   
