= form_for @book,:html => { :class => "form-horizontal", :role => "form" } do |f|
  = render "shared/error_messages", :object => f.object
  .row
    .col-sm-2
      = f.label "Name:", :class => 'control-label'
    .col-sm-2
      = f.label "ISDN:", :class => 'control-label'
    .col-sm-2
      = f.label "Author:", :class => 'control-label'
    .col-sm-2
      = f.label"YOP:",:class => 'control-label'
    .col-sm-2
      = f.label "Type", :class => 'control-label'
    .col-sm-2
      = f.label "DP:", :class => 'control-label'
  .row
    .col-sm-2
      = f.text_field :name, :class => 'form-control'
    .col-sm-2
      = f.text_field :isdn, :class => 'form-control'
    .col-sm-2
      = f.text_field :author, :class => 'form-control'
    .col-sm-2
      = f.text_field :year_of_publishing, :class => 'datepicker form-control'
    .col-sm-2
      = f.text_field :book_type, :class => 'form-control'
    .col-sm-2
      = f.text_field :purchased_date, :class => 'datepicker form-control'
      %br
  %center
    = f.button "submit" , :class =>'btn btn-primary'
