= form_for @book,:html => { :class => "form-horizontal", :role => "form" } do |f|
  = render "shared/error_messages", :object => f.object
  .row
    .col-sm-3
      = f.label "Name:", :class => 'col-sm-3 control-label'
    .col-sm-3
      = f.text_field :name, :class => 'col-sm-12 form-control'
      %br
      %br
  .row
    .col-sm-3
      = f.label "ISBN:", :class => 'col-sm-3 control-label'
    .col-sm-3
      = f.text_field :isdn, :class => 'col-sm-12 form-control'
      %br
      %br
  .row
    .col-sm-3
      = f.label "Author:", :class => 'col-sm-3 control-label'
    .col-sm-3
      = f.text_field :author, :class => 'col-sm-12 form-control'
      %br
      %br
  .row
    .col-sm-3
      = f.label"Year Of Published:",:class => 'col-sm-3 control-label'
    .col-sm-3
      = f.text_field :year_of_publishing, :class => 'col-sm-12 datepicker form-control'
      %br
      %br
  .row
    .col-sm-3
      = f.label "Type:", :class => 'col-sm-3 control-label'
    .col-sm-3
      = f.text_field :book_type, :class => 'col-sm-12 form-control'
      %br
      %br
  .row
    .col-sm-3
      = f.label "NO Of Copies:", :class => 'col-sm-3 control-label'
    .col-sm-3
      = f.text_field :number_of_copies, :class => 'col-sm-12 form-control'
      
      
      
      %br
  %center
    = f.button "submit" , :class =>'btn btn-primary'
