%form{:id => "myForma", :class=>"form-horizontal", :ng_submit => "submitBooks()"}
  .form-group
    = label_tag  "Purchage Date", nil, :class => "form-label col-md-4"
    .col-sm-4{"ng-controller" => "DatePickerController"}    
      %input.form-control{"close-text" => "Close", "datepicker-options" => "dateOptions", "datepicker-popup" => "", "is-open" => "opened", "ng-model" => "$parent.purchasedDate", "ng-required" => "true", type: "text", "ng-bind" => "dt | dt:'yyyy-MM-dd'", "ng-click" => "open($event)","ng-change" => "getPurchageDate()"}      
  .form-group{"ng-repeat" => "book in newBooks"}   
    .col-sm-2        
      = text_field_tag  "bulk_book[][name]",nil, :class => "form-control", :ng_model => "book.name", :placeholder => "Name"
    .col-sm-2
      = text_field_tag "bulk_book[][isbn]",nil, :class => 'form-control', :placeholder => "ISBN", :id => "isbn-{{$index}}", :ng_model => "book.isbn"
    .col-sm-2
      = text_field_tag "bulk_book[][author]",nil, :class => "form-control" , :placeholder => "Author", :id => "author-{{$index}}", :ng_model => "book['author']", :ng_model => "book.author"
    .col-sm-2
      = text_field_tag "bulk_book[][year_of_publishing]",nil, :class => 'form-control', :placeholder => "YearOfPublishing", :id => "year_of_publishing-{{$index}}", :ng_model => "book.year_of_publishing"
    .col-sm-2
      = text_field_tag "bulk_book[][book_type]",nil, :class => 'form-control', :placeholder => "BookType", :id => "book_type-{{$index}}", :ng_model => "book.book_type"
      = hidden_field_tag "bulk_book[][purchased_date:]","{{dateFormat}}"   
  .row
    .col-md-5.col-md-offset-3
      
      %button{:ng_disabled => "moreBooks", :type => "button", :class=> "btn btn-primary", :ng_click => "addMorebooks()"}=  "More books"
      %button{:type=>"submit", :class=> "btn btn-primary"}=  "Save"
     
