.row
  .col-sm-9
    .pull-right
      %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "edit"
      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %h4#myModalLabel.modal-title edit book
              = form_for @book , :html => { :class => "form-horizontal", :role => "form"} do |f|
                .modal-body
                  .modal-body
                    %br
                    .row
                      .col-sm-3
                        = f.label "Name:", :class => 'col-sm-3 control-label'
                      .col-sm-5
                        = f.text_field :name, :class => 'col-sm-12 form-control'
                        %br
                        %br
                    .row
                      .col-sm-3
                        = f.label "ISBN:", :class => 'col-sm-3 control-label'
                      .col-sm-5
                        = f.text_field :isdn, :class => 'col-sm-12 form-control'
                        %br
                        %br
                    .row
                      .col-sm-3
                        = f.label "Author:", :class => 'col-sm-3 control-label'
                      .col-sm-5
                        = f.text_field :author, :class => 'col-sm-12 form-control'
                        %br
                        %br
                    .row
                      .col-sm-3
                        = f.label"Year Of Publishing:",:class => 'col-sm-3 control-label'
                      .col-sm-5
                        = f.text_field :year_of_publishing, :class => 'col-sm-12 datepicker form-control'
                        %br
                        %br
                    .row
                      .col-sm-3
                        = f.label "Purchased Date:", :class => 'col-sm-3 control-label'
                      .col-sm-5
                        = f.text_field :purchased_date, :class => 'col-sm-12 datepicker form-control'
                        %br
                        %br
                    .row
                      .col-sm-3
                        = f.label "Type:", :class => 'col-sm-3 control-label'
                      .col-sm-5
                        = f.text_field :book_type, :class => 'col-sm-12 form-control'
                        %br
                        %br
                    .row
                      .col-sm-3
                        = f.label "NO Of Copies:", :class => 'col-sm-3 control-label'
                      .col-sm-5
                        = f.text_field :number_of_copies, :class => 'col-sm-12 form-control'
                        
                     
                        %br
                      
                 
                      
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                    = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
                    %br
