%button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Term "
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title New Term
        = form_for TermDefinition.new , :html => { :class => "form-horizontal", :role => "form"} do |f| 
          .modal-body
            .col-sm-3
              = f.label "Term", :class => 'form-control'
              .col-sm-3
                = f.text_field "term_definition", :class => 'form-control'
              .col-sm-3
                = f.text_field "termdate", :class => 'datepicker form-control', :placeholder => "date"
              .col-sm-3
                .input-group 
                  = f.text_field "amount_per" , :class => 'form-control', :placeholder => "per"
                  %span.input-group-addon %
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
   
             


