.row
  .col-sm-10
    %h4 New Vendor
= form_for VendorManagement.new , :html => { :class => "form-horizontal", :role => "form"} do |f| 
  .row{"ng-controller" => "VendorController"}
    .col-sm-2
      = f.label "Category"
    .col-sm-4
      %select{"ng-model" => "vendor", "ng-options" => " vendor.vendor for vendor in vendors",:class => "form-control",:required => "required", }
        %option{style: "display:none", value: ""} Select Vendor
        = f.hidden_field :vendor_category_id, :value => "{{vendor.id}}"
       
      %br
    .col-sm-2
      = f.label "Vendor Name"
    .col-sm-4
      = f.text_field "vendor_name", :class => 'form-control'
  .row
    .col-sm-2
      = f.label "Vendor Phone"
    .col-sm-4
      = f.text_field "vendor_phone", :class => 'form-control'
      %br
    .col-sm-2
      = f.label "Mobile#"
    .col-sm-4
      = f.text_field "verdor_mobile", :class => 'form-control'
  .row
    .col-sm-2
      = f.label "Vendor Email"
    .col-sm-4
      = f.text_field "vendor_email", :class => 'form-control'
      %br
    .col-sm-2
      = f.label "Alternate Email"
    .col-sm-4
      = f.text_field "vendor_alternate_email", :class => 'form-control'
  .row
    .col-sm-2
      = f.label "Address"
    .col-sm-4
      = f.text_area "vendor_address", :class => 'form-control'
      %br
  .row
    .col-sm-10
    .col-sm-2
      = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
