%form{:class => "form-horizontal", :role => "form", :ng_submit => "doPayment()", :action => "#"}
  .row{:ng_show => "errors"}
    .alert.alert-danger{:ng_repeat => "(key, value) in errors"} {{key}} : {{value.join(",")}}
  - PaymentType.all.order("code").each do |type|
    .form-group.col-md-3
      = radio_button_tag :payment_type_id, type.id, "", :class => "col-md-2", :ng_click => "go('#{type.code}', '#{@parent_payment_master.student_id}')", :ng_disabled => "#{current_user.parent? and type.code == 'monthly'}", :ng_model => "payment_type_id", :ng_disabled => "submitted"
      %label.font-mid-17= "#{type.code.titleize}"

  = hidden_field_tag :student_id, "",:ng_model => "student_id"
  .col-md-9
    %div{"ng-view" => true }

