%h4.panel-title 
  = "Transactions History"
  = link_to (fa_icon "angle-double-up lg", :id => "collapse-icon"),"#" ,:class => "collapse-link pull-right", :data => {:toggle => "collapse", :target => "#collapse-div0"}
%hr
#collapse-div0

  .col-md-6{:ng_controller => "PaymentTransactionsController", :ng_init => "getParentPaymentTransactions('#{@parent_payment_master.id}')"}
    = render "transaction_history_elements"      
  .col-md-6{:ng_controller => "MonthlyPdcsController", :ng_init => "submitted_pdcs('#{@parent_payment_master.id}')"}
    = render "submitted_pdc"
