.col-md-10
  %student_header_details{ :student_id => "#{@parent_payment_master.student_id}"}
.col-md-10
  - if @parent_payment_master.monthly_payment? 
    = render "monthly_pdc_history"
  - else
    = render "transactions_history"
    
    
.col-md-10{:ng_controller => "PaymentsController", :ng_init => "student_id = '#{@parent_payment_master.student_id}'"}
  %h4.panel-title 
    = "Fee Payment"
  %hr
  = render "edit_form"
