.col-md-7{"ng-controller" => "FeeTypesController", :ng_init => "index()"}
  %h3 
    = "FeeTypes"
    .pull-right
      = link_to "New Fee Type", "#", :class => "btn btn-primary", :ng_click => "newFeeTypes()", :ng_disabled => "#{fee_items_can_be_manipulate?}"
  %hr
  %table.table.table-bordered
    %tbody
      %tr{"ng-repeat" => "fee_type in fee_types"}
        %td {{fee_type.fee_type}}
        %td
          = link_to fa_icon("edit"), "#", :class => "btn btn-warning", :ng_click => "edit(fee_type)", :ng_disabled => "#{fee_items_can_be_manipulate?}"
          = link_to fa_icon("trash-o"), "#", :class => "btn btn-danger", :ng_click => "destroy(fee_type)", :ng_disabled => "#{fee_items_can_be_manipulate? || fee_structure_defined?}"
            

        
  .modal.fade{ :id => "createModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "myModalLabel"} New Fee Type 
        .modal-body
          = render "form_for_bulk_fee_types"
  .modal.fade{ :id => "editModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "editModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "editModalLabel"} Edit {{fee_type.fee_type}}
        .modal-body
          = render "form"

