.col-md-7{"ng-controller" => "PostDatedChequesController"}
  %h3 
    = "Post Dated Cheques"
    .pull-right
      = link_to "New PDCs", "#", :class => "btn btn-primary", :ng_click => "newPostDatedCheque()", :ng_disabled => "#{fee_items_can_be_manipulate?} || postDatedCheques.length"
      = link_to "Edit PDCs", "#", :class => "btn btn-primary", :ng_click => "editPostDatedCheques()", :ng_disabled => "#{MonthlyPdcAmount.fee_structure_defined?}"
      = link_to "Delete All", destroy_all_post_dated_cheques_path, :class => "btn btn-danger", :ng_disabled => "#{fee_items_can_be_manipulate?}", :data => {:method => "DELETE", :confirm => "Are you to delete all PDCs ?"}
  %hr
  %table.table.table-bordered
    %thead
      %tr
        %th Date
        %th Amount in Percent
        -#%th 
    %tbody
      %tr{"ng-repeat" => "post_dated_cheque in postDatedCheques"}
        %td {{post_dated_cheque.date}}
        %td {{post_dated_cheque.amount_per}}
        -#%td
          -#= link_to raw("<span class='glyphicon glyphicon-edit'></span>"), "#", :class => "btn btn-warning btn-sm", :title => "Edit", :ng_click => "" , :ng_disabled => "#{fee_items_can_be_manipulate?}"
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), "#", :class => "btn btn-danger btn-sm", :title => "Delete", :ng_click => "destroy(post_dated_cheque)", :ng_disabled => "#{fee_items_can_be_manipulate?}"

  = render "form"
          

        
