.col-md-7{"ng-controller" => "PostDatedChequesController"}
  %h3 
    = "Post Dated Cheques"
    .pull-right
      = link_to "Define bulk", "#", :class => "btn btn-primary", :ng_click => "newPostDatedCheques()"
  %hr
  %table.table.table-bordered
    %thead
      %tr
        %th Date
        %th Amount in Percent
        %th 
    %tbody
      %tr{"ng-repeat" => "post_dated_cheque in postDatedCheques"}
        %td {{post_dated_cheque.date}}
        %td {{post_dated_cheque.amount_per}}
        %td
          = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), "#", :class => "btn btn-warning btn-sm", :title => "Edit", :ng_click => "" 
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), "#", :class => "btn btn-danger btn-sm", :title => "Delete", :ng_click => "destroy(post_dated_cheque)"

  .modal.fade{ :id => "createModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "myModalLabel"} New Post Dated Cheques
        .modal-body
          = render "form"
          

        
