#myModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Holiday calendar
        = form_for Holidaycalendar.new do |f|
          .modal-body
            .row
              .col-sm-3
                = f.label "Date", :class => 'col-sm-3 control-label'
              .col-sm-5
                = f.text_field :holiday_date ,:class => 'datepicker form-control', :id => "holiday_date",:readonly => true;
                
                %br
            .row
              .col-sm-3
                = f.label "Description", :class => 'col-sm-3 control-label'              
              .col-sm-5
                = f.text_area :description ,:class => 'form-control'              
                %br
                  
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button",:class => 'btn btn-primary'} Close
            = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
   
                      


  
