.row
  .row
    .col-md-8
      .form-group
        .col-md-4
          %label.form-label Name
        .col-md-6
          %label.form-label= ": #{@student_master.name}" 
      .form-group
        .col-md-4
          %label.form-label Date Of Birth
        .col-md-6
          %label.form-label= ": #{@student_master.dob}" 
      .form-group
        .col-md-4
          %label.form-label Gender
        .col-md-6
          %label.form-label= ": #{@student_master.gender}" 
      .form-group
        .col-md-4
          %label.form-label Joining Date
        .col-md-6
          %label.form-label= ": #{@student_master.joining_date}" 
      .form-group
        .col-md-4
          %label.form-label Academic Year
        .col-md-6
          %label.form-label= ": #{@student_master.academic_year}"         
    .col-md-4
      = image_tag "student.ico", :class => "img-rounded"
  .col-md-12
    %ul.nav.nav-tabs
      %li.active
        %a{ :href => "#student_details", :data => { :toggle => "tab"}}
          Personal Details
      %li
        %a{ :href => "#address", :data => { :toggle => "tab"}}
          Address
      %li
        %a{ :href => "#transport", :data => { :toggle => "tab"}}
          Transport
      %li
        %a{ :href => "#academics", :data => { :toggle => "tab"}}
          Academics
      %li
        %a{ :href => "#attendance", :data => { :toggle => "tab"}}
          Attendance
    .tab-content
      %br
      #student_details.tab-pane.fade.in.active
        = render "student_details"
      #address.tab-pane.fade
        = render "address"
      #transport.tab-pane.fade
        = render "transport"
      #academics.tab-pane.fade
        = render "academics"
      #attendance.tab-pane.fade
        = render "attendance"
