= form_for @add , :html => { :class => "form-horizontal", :role => "form"} do |f|
  .row
    .col-sm-3
      = f.label "Title:", :class => 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :title,:class => 'form-control'
      %br
  .row
    .col-sm-3
      = f.label "Description:", :class => 'col-sm-3 control-label'
    .col-sm-5
      = f.text_area :description, :class => 'form-control'
      %br
      = f.hidden_field :status, :value => "#{@recruitment.status}"
      = f.button "submit" , :class =>'btn btn-primary'

