= form_for @add , :html => { :class => "form-horizontal", :role => "form"} do |f|
  = render "shared/error_messages", :object => f.object
  .row{"ng-controller" => "LeadController"}
    .col-sm-3
      = f.label "Dept:", :class => 'col-sm-3 control-label'
    .col-sm-5
      %select{"ng-model" => "myLead", "ng-options" => "add.role_name for add in adds", :class => "form-control", :required => "required"}
        %option{style: "display:none", value: ""} Select Dept
      = f.hidden_field :dept, :value => "{{myLead.id}}"
      {{myLead.dept}}
      %br
  .row
    .col-sm-3
      = f.label "Post:", :class => 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :title,:class => 'form-control'
      %br
  .row
    .col-sm-3
      = f.label "Description:", :class => 'col-sm-3 control-label'
    .col-sm-5
      = f.text_area :description, :class => 'form-control'
      %br
      = f.button "submit" , :class =>'btn btn-primary'

