= form_for @add,:html => { :class => "form-horizontal", :role => "form" } do |f|
  .row
    .col-sm-9
      = f.label "Title:", :class => 'col-sm-3 control-label'
      .col-sm-3
        = f.text_field :title,:class => 'form-control'
        %br
    
    .col-sm-9
      = f.label "Date:", :class => 'col-sm-3 control-label'
      .col-sm-3
        = f.text_field :date,  :class => 'datepicker form-control'
        %br
 
    .col-sm-9
      = f.label "Description:", :class => 'col-sm-3 control-label'
      .col-sm-3
        = f.text_area :description, :class => 'form-control'
        %br
 
         
        %button{:type=>"submit", :class=> "btn btn-primary"}=  "Save"
\
