.row
  .col-sm-9
    .pull-right
      %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Add New"
      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %h4#myModalLabel.modal-title New Advertisement
              = form_for Add.new , :html => { :class => "form-horizontal", :role => "form"} do |f|
                .modal-body
                  = render 'form'
                  %br
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                    = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
                  %br
                  %br
= form_tag adds_path, method: :get do
  %input#search{name: "search", placeholder: "Enter search term...", type: "text",:class => 'form'}/
  = submit_tag "Search", name: nil, :class => 'btn btn-primary'
  %br
  %br
%table.table.table.striped.table-bordered.table-condensed.table-hover{style: "width:70%"}
  %thead
    %tr
      %th Title
      %th Date
      %th Description
      %th
  %tbody
    - @adds.each do |add|
      %tr
        %td= add.title
        %td= add.created_at
        %td= add.description
        %td
          = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), edit_add_path(add), :class => "btn btn-warning btn-sm", :title => "Edit"
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), add_path(add), :class => "btn btn-danger btn-sm", :data => {:method => 'delete' , :confirm => "Are You Sure to Delete ?"}, :title => "Delete"
          
	
       
