.col-md-6
  .form-group
    .col-md-4
      %label.form-label DOB
    .col-md-8
      %label.form-label= ": #{@faculty_master.dob}" 
  .form-group
    .col-md-4
      %label.form-label Qualification
    .col-md-8
      %label.form-label= ": #{@faculty_master.education_qualification}" 
  .form-group
    .col-md-4
      %label.form-label Nationality
    .col-md-8
      %label.form-label= ": #{@faculty_master.nationality}" 
  .form-group
    .col-md-4
      %label.form-label Address
    .col-md-8
      %label.form-label= ": #{@faculty_master.address}" 

.col-md-6
  .form-group
    .col-md-4
      %label.form-label Preffered Class
    .col-md-8
      %label.form-label= ": #{@faculty_master.klass}" 
  .form-group
    .col-md-4
      %label.form-label Preffered Subject
    .col-md-8
      %label.form-label= ": #{@faculty_master.subject}" 
  .form-group
    .col-md-4
      %label.form-label Previous Experience
    .col-md-8
      %label.form-label= ": #{@faculty_master.experience}" 
  .form-group
    .col-md-4
      %label.form-label Languages Known
    .col-md-8
      %label.form-label= ": #{@faculty_master.language}" 
