.page-header
  %h2
    = link_to "Upload Faculty", "#"
%p
  A Csv or Exel can be uploaded. First row should have the column names
= form_for @faculty_master_uploader, :url => upload_faculty_masters_path, :multipart => true, :html => { :class => "form"} do |f|
  - if f.object.errors.present?
    = render "shared/error_messages", :object => f.object
  .form-group
    .col-md-6
      = f.file_field :file
    .col-md-6
      = f.submit "Upload", :class => "btn btn-primary pull-right"
   
