.row
  .col-sm-11
    .pull-right
      = form_tag forms_path, :method => 'get' do
        .col-sm-8
          = select_tag(:search,options_for_select([['Accepted'],['Rejected'],['Pending']],:selected => :status),{:class => 'col-sm-4 form-control'})
        .col-sm-4
          = button_tag "close" , :class => 'btn btn-primary'
        
= form_tag forms_path, method: :get do
  %input#search{name: "search", placeholder: "Enter search term...", type: "text"}/
  = submit_tag "Search", name: nil, :class => 'btn btn-primary'

  %br
  %br
%table.table.table.striped.table-bordered.table-condensed.table-hover{style: "width:90%"}
  %thead
    %tr
      %th
      %th Enquiry No
      %th Name
      %th Email
      %th Mobile No
      %th Education Qualification
      %th Preferred Class
      %th Preferred Subject
      %th status
      
  %tbody
    - @forms.each do |form|
      %tr
        %td= check_box_tag "form_ids[]", form.id
        %td= form.enquiry_no
        %td= form.name
        %td= form.email
        %td= form.mobile_no
        %td= form.education_qualification
        %td= form.klass
        %td= form.subject
        %td= form.status
.row
  .col-sm-10
    = link_to "Add New", new_form_path, :class => "btn btn-primary"    
