%h3 
  = link_to "Add New", new_form_path, :class => "btn btn-primary"
  .col-sm-10
    .row{"ng-controller" => "formsController"}
      .form-group.col-md-3
        %label{:class=> "form-label col-md-6"} Status
        .col-md-6   
          %select{"ng-model" => "myGrade", :ng_options => "form.id as form.status for status in forms", :class => "form-control"} 
      %br
      %br
%table.table.table.striped.table-bordered.table-condensed.table-hover{style: "width:90%"}
  %thead
    %tr
      %th Enquiry No
      %th Name
      %th Email
      %th Mobile No
      %th Education Qualification
      %th Preferred Class
      %th Preferred Subject
      %th Status
  %tbody
    - @forms.all.each do |form|
      %tr
        %td= form.enquiry_no
        %td= form.name
        %td= form.email
        %td= form.mobile_no        
        %td= form.education_qualification
        %td= form.klass
        %td= form.subject
        %td= form.status
