.row
  .col-sm-11
    .pull-right 
      .col-sm-4
        = button_tag "close" , :class => 'btn btn-primary'
= form_tag forms_path, method: :get do
  %input#search{name: "search", placeholder: "Enter search term...", type: "text"}
  = submit_tag "Search", name: nil, :class => 'btn btn-primary'

  %br
  %br
%table.table.table.striped.table-bordered.table-condensed.table-hover{style: "width:90%"}
  %thead
    %tr
      
      %th Enquiry No
      %th Name
      %th Email
      %th Mobile No
      %th Education Qualification
      %th Preferred Class
      %th Preferred Subject
      %th status
      
  %tbody
    - @forms.each do |form|
      %tr
         
          
        %td= link_to "#{form.enquiry_no}",home_index_form_path(form)
        %td= form.name
        %td= form.email
        %td= form.mobile_no
        %td= form.education_qualification
        %td= form.klass
        %td= form.subject
        %td= form.status
       
       
        
          
       

