%table.table.table-striped
  %thead
    %tr
      
      %th Gender
      %th Address
      %th Known Languages
      %th Expected Salary
      %th Experience in Teaching
      %th Preferred Class
      %th Preferred Subject
      %th Nationality
     
  %tbody
    - Form.all.each do |form|
      %tr
       
        %td= form.gender
        %td= form.address
        %td= form.language
        %td= form.expected_salary
        %td= form.experience
        %td= form.klass
        %td= form.subject
        %td= form.nationality
%center
  = link_to "Back", forms_path, :class => "btn btn-primary"
