%button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Edit"
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Edit Percent
        = form_for Discount.new , :html => { :class => "form-horizontal", :role => "form"} do |f| 
          .modal-body
            .col-sm-3
              = f.text_field "discount_percent", :class => 'form-control' 
            .col-sm-3
              = f.text_field "academic_year", :class => 'form-control'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
   
