%form{:class=>"form-horizontal", :ng_submit => "submitRoutes()" }
  .row
    .col-sm-2
      = label_tag "Route no", nil, :class => "form-label"
    .col-sm-2
      = text_field_tag "route_no",nil, :class => "form-control" ,:ng_model => "newRoute.route_no"
    .col-sm-2
      = label_tag "Busno", nil, :class => "form-label"
    .col-sm-2
      = text_field_tag "busno_up",nil, :class => "form-control" ,:ng_model => "newRoute.busno_up"
    .col-sm-2
      = label_tag "Children", nil, :class => "form-label"
    .col-sm-2
      = text_field_tag "no_of_children",nil, :class => "form-control" ,:ng_model => "newRoute.no_of_children"
      %br
      
  .form-group{"ng-repeat" => "location in newRoute.locations"}
    .row
      = label_tag "stop  {{$index+1}}", nil, :class => "form-label col-md-2"
      .col-md-3
        = text_field_tag "bulk_location[][location]",nil, :class => "form-control",:ng_model => "location.location" ,:placeholder => "Location"
      .col-sm-3
        .input-group
          = text_field_tag "bulk_location[][sequence_no]",nil, :class => "form-control" , :ng_model => "location.sequence_no" , :placeholder => "Sequence#"
          
  .row
    .col-md-5.col-md-offset-3
      %button{:type => "button", :class=> "btn btn-primary", :ng_click => "addMoreterms()"}=  "More stops"
      %button{:type=>"submit", :class=> "btn btn-primary"}=  "Save"
      
          
     
