%button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Add New Route"
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title New Route
        .modal-body{ "ng-controller" => "RoutesController", "ng-init" => "initialize()"}
          = form_tag create_bulk_routes_path, :method => "POST",:class=>"form-horizontal" do 
            .row{"ng-repeat" => "lpp in routes"}
              .form-group
                = label_tag "stop  {{$index+1}}", nil, :class => "form-label col-md-2"
                .col-md-3
                  = text_field_tag "bulk_route[][lpp]",nil, :class => "form-control"
                .col-md-3
                  .input-group
                    = text_field_tag "bulk_route[][sequence_no]",nil, :class => "form-control" 
          
            %button{:type => "button", :class=> "btn btn-primary", :ng_click => "addMoreterms()"}=  "More stops"
            = submit_tag "Save",  :class => 'btn btn-primary'
            
           
