%button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Add New Route"
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title New Route
        = form_for Route.new , :html => { :class => "form-horizontal", :role => "form"} do |f| 
          .modal-body
            .row
              .col-sm-4
                = f.label "Route no"
              .col-sm-3
                = f.text_field "route_no", :class => 'form-control'
                %br
            .row
              .col-sm-4
                = f.label "Last point"
              .col-sm-3
                = f.text_field "lpp", :class => 'form-control'
                %br
            .row
              .col-sm-4
                = f.label "Bus no" 
              .col-sm-3
                = f.text_field "busno_up", :class => 'form-control'
                %br
            .row
              .col-sm-4
                = f.label "No of Children"
              .col-sm-3
                = f.text_field "no_of_children", :class => 'form-control'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
          
