.col-md-7{"ng-controller" => "RouteController"}
  .col-sm-6
    %h3
      Routes
  - if current_user.transport_head?
    .col-sm-6
      %h5
        = render  "user_mailer/welcome_email"
        = link_to "New Route", "#", :class => "btn btn-primary",:ng_click => "defineNew()"
    
  %table.table.table-bordered
    %thead
      %tr
        %th Route No
        %th Bus No
        %th Start point
        %th End point
        - if current_user.transport_head?
          %th
    %tbody
      %tr{"ng-repeat" => "route in routes"}
        %td 
          %a{href: '/routes/{{route.id}}'} {{route.id}}
        %td {{route.busno_up}}
        %td {{route.start_location}}
        %td {{route.end_location}}
        - if current_user.transport_head?
          %td
            = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), "#", :class => "btn btn-warning btn-xs", :title => "Edit", :ng_click => "editRoutes(route)"
            = link_to raw("<span class='glyphicon glyphicon-trash'></span>"),"#", :class => "btn btn-danger btn-xs", :title => "Delete", :ng_click => "destroy(route)"
         
      #createModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %h4#myModalLabel.modal-title New Route            
              .modal-body{"ng-controller" => "RouteController"}
                = render "form1"
              
                             
  - if current_user.transport_head?        
    .row
      = render "shared/map1"
  - if current_user.admin?        
    .row
      = render "shared/map1"
                
