.col-md-7{"ng-controller" => "RouteController"}
  %h3
    Routes
  %h5
    = link_to "New Route", "#", :class => "btn btn-primary",:ng_click => "defineNew()"
 
  %table.table.table-bordered
    %thead
      %tr
        %th Route No
        %th Bus No
        %th start point
        %th End point
        %th No of Children
        %th
    %tbody
      - @routes.all.each do |route|
        %tr
          %td= route.route_no
          %td= route.busno_up
          %td= route.start_point
          %td= route.end_point
          %td= route.no_of_children
          %td
            =  link_to raw("<span class='glyphicon glyphicon-trash'></span>"),route_path(route), :class => "btn btn-danger btn-sm", :data=> {:confirm => "Are you sure?", method: :delete}, :title => "Delete"
            
  .modal.fade{ :id => "createModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "myModalLabel"} New Route
        .modal-body
          = render "form1"
        
.row
  = render "shared/gmap"
 


