.row{"ng-controller" => "RouteController"}
  .row
    .col-sm-2
      = label_tag "Route no:", nil, :class => "form-label"
    .col-sm-1
      = label_tag @route.id 
    .col-sm-1
      = label_tag "Bus no:", nil, :class => "form-label"
    .col-sm-1
      = label_tag @route.busno_up 
    .col-sm-1
      = label_tag "Route:", nil, :class => "form-label"
    .col-sm-1
      = label_tag @route.lpp 
  .row
    .col-sm-2
      = label_tag "Starting Point:", nil, :class => "form-label"
    .col-sm-3
      = label_tag @route.start_location.location_master.location_name 
    .col-sm-2
      = label_tag "Ending Point:", nil, :class => "form-label"
    .col-sm-3
      = label_tag @route.end_location.location_master.location_name 
      %br
      %br
      %br
  .row
    .col-sm-2
    .col-sm-2
      = link_to "Show All", "#", :class => "btn btn-primary" , :ng_click => "allStudents(#{@route.id})"
      #studentModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %h4#myModalLabel.modal-title Students Belongs to this Route            
              .modal-body
                %table.table.table-bordered
                  %thead
                    %tr
                      %th Student id
                      %th Student Name
                      
                  %tbody
                    %tr{"ng-repeat" => "student in students"}
                      %td {{student.id}}
                      %td {{student.name}}
                    %h5 Total:  {{students.length}}
                    


  .row
    .col-sm-3
      %h4 List of Locations:
      %table#tblData.target.table.table-striped.table-condensed.table-bordered
        %thead
          %tr
            %th Seq No
            %th Location
           
        %tbody
          - @route.locations.order( 'sequence_no ASC' ).all.each do |location|
            %tr
              %td= location.sequence_no
              //%td= location.location_master.location_name
              %td= link_to "#{location.location_master.location_name}" , "#", :ng_click => "allLocations(#{location.location_master.id})"
            
    #indexModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4#myModalLabel.modal-title Students Belongs to this Location            
            .modal-body
              %table.table.table-bordered
                %thead
                  %tr
                    %th Student id
                    %th Student Name
                    
                    
                %tbody
                  %tr{"ng-repeat" => "location in locations"}
                    %td {{location.id}}
                    %td {{location.name}}
              %h5 Total: {{locations.length}}
              

                    
    .col-sm-9
      = render "shared/gmap"
 
            
    
     
