= form_tag("/issuings", :method => "get") do
  .row{"ng-controller" => "IssuingsController"}
    .form-group.col-md-3
      %label{:class=> "form-label col-md-4"} Grade
      .col-sm-6
        %select{"ng-model" => "myGrade", :ng_options => "grade.id as grade.grade_name for grade in grades", :class => "form-control", :name => "grade_master_id", "ng-change" => "getGradeSections()"}
        {{myGrade}}
        
    .form-group.col-md-3
      %label{:class=> "form-label col-md-4"} Section
      .col-sm-6
        %select{"ng-model" => "mySection", :ng_options => "section.section_master_id  as section.section_name for section in sections | filter: {grade_master_id: myGrade}", :class=>"form-control", :name => "section_master_id"}
        {{mySection}}
        
    .col-md-4
      %input#grade_master_id{:name => "grade_master_id", :type => "hidden", :value => "{{myGrade}}"}
      %input#section_master_id{:name => "section_master_id", :type => "hidden", :value => "{{mySection}}"}
      
      %button{:type=>"submit", :class=> "btn btn-primary" }=  "Go" 
      %br
      %br
      -#  .pull-left
        -#         .col-sm-10 
          -#           %span.input-group-addon
            -#             = fa_icon "search lg"
              -#           %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}
                -# %br
= form_tag("/issuings", :method => "POST") do
  %table#tblData.target.table.table-striped.table-condensed.table-bordered{style: "width:80%"}
    %thead
      %tr
        %th Name     
        %th Allot Books    
    %tbody
      - @book_issuing_objects.each do |bio|
        %tr
          %td
            = bio.student.name
            = hidden_field_tag "book_issuing_objects[][student_master_id]", "#{bio.student.id} "
         
          %td
            - bio.issuings.each do |issuing|
              = text_field_tag "book_issuing_objects[][issuings][][book]", "#{issuing.book} "    
              Return
              %input#book_issuing_objects__issuings__book{name: "book_issuing_objects[][issuings][][is_returned]", type: "checkbox", value: "true" }
              = hidden_field_tag "book_issuing_objects[][issuings][][id]", "#{issuing.id}"
         
          
          
  .row
    %center
      %button{:type=>"submit", :class=> "btn btn-primary" }=  "save" 
