.row                      
  .col-sm-2
    = label_tag "ISBN:"
  .col-sm-3
    = autocomplete_field_tag :isbn_name,
    '',
    "/auto_search/autocomplete_book_isbn",
    :placeholder => "ISBN", :class => 'form-control',
    :required => true,
    :id_element => "#isbn" ,:ng_model => "myIsbn"
  .col-sm-7
    = hidden_field_tag :isbn, :id => "isbn"
    %br
    = link_to "GO", "#", class: "btn btn-primary",   :ng_click => "Go()"  
    .row
      .col-sm-4
        = label_tag "NAME:"
        %input{:name => "name", :ng_model => "bookName"}
      .col-sm-2
      .col-sm-3
        = label_tag "AUTHOR:"
        %input{:name => "author", :ng_model => "authorName"}
        %br
        %br
.row 
  .col-sm-3
    = label_tag "BookStage:"
  .col-sm-2
    %input{"ng-model" => "bookStage", type: "radio", value: "LOSS", :class => "form-control"}Loss
  .col-sm-2
    %input{"ng-model" => "bookStage", type: "radio", value: "DAMAGE", :class => "form-control"}Damage
  .col-sm-1
    %br
.row
  .col-sm-3
    = label_tag "Damage Type:"
  .col-sm-5
    = select_tag :damage_type, options_for_select([['Damaged Covers'],['Covers Separating from the Text Block'],[' Missing Pages'],['Torn Pages'],['Loose Pages'],['Stains'],['Wet Books'],['Mold ']]),  :ng_model => "damageType" 
    
    %br
.row
  .col-sm-3
    = label_tag "Description:"
  .col-sm-5
    = text_area_tag :damage_description , "", :ng_model => "damageDescription"
    %br
    = link_to "submit", "#", class: "btn btn-primary",   :ng_click => "submit()"
    %br
    %br 
