.col-md-12{"ng-controller" => "DamagebooksController"}
  .col-md-1
  .col-md-10
    .col-sm-3
      .pull-left
        .input-group
          %span.input-group-addon
            = fa_icon "search lg"
          %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
    %br
    .col-sm-3
      %center
        %h3
          DamageBooks
    .col-sm-4
      .pull-right
        %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Add Report"

  .row
    %table#tblData.target.table.table-striped.table-condensed.table-bordered
      %thead
        %tr      
          %th ISBN
          %th NAME
          %th AUTHOR
          %th BOOK STATUS
          %th DAMAGE SEVERITY
          %th A BOUT DAMAGE
          %th DELETE 
      %tbody   
        %tr{"ng-repeat" => "damage_book in damage_books"}   
          %td {{damage_book.isbn}}
          %td {{damage_book.name}}
          %td {{damage_book.author}}
          %td {{damage_book.book_stage}}
          %td {{damage_book.damage_type}}
          %td {{damage_book.damage_description}}
          %td          
            = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), "#", :class => "btn btn-danger btn-sm", :title => "Delete", :ng_click => "destroy(damage_book)"       
  .col-md-12
    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4#myModalLabel.modal-title New Report
          .modal-body
            .row                      
              .col-sm-2
                = label_tag(:isbn, "Isbn") 
              .col-sm-5
                = autocomplete_field_tag :isbn_name,
                '',
                "/auto_search/autocomplete_book_isbn",
                :placeholder => "ISBN", :class => 'form-control',
                :required => true,
                :id_element => "#isbn" ,:ng_model => "myIsbn"
                = hidden_field_tag :isbn, :id => "isbn"
              .col-sm-5              
                = link_to "GO", "#", class: "btn btn-primary",   :ng_click => "Go()"  
            %br
            .row
              .col-sm-2
                = label_tag(:name, "Name") 
              .col-sm-5
                %input{:name => "name", :ng_model => "bookName", :class => 'form-control'}
            %br
            .row
              .col-sm-2
                = label_tag(:author, "Author") 
              .col-sm-5
                %input{:name => "author", :ng_model => "authorName", :class => 'form-control'}
            %br
            .row 
              .col-sm-2
                = label_tag "BookStage"
              .col-sm-2
                %input{"ng-model" => "bookStage", type: "radio", value: "LOSS", :class => "form-control", "ng-click"=> "viewBookStage()"}Loss
              .col-sm-2
                %input{"ng-model" => "bookStage", type: "radio", value: "DAMAGE", :class => "form-control", "ng-click" => "viewBookStage()"}Damage
            .row{"ng-show"=>"viewDamageType"}
              .col-sm-2
                = label_tag "Damage Type"
              .col-sm-5
                = select_tag :damage_type, options_for_select([['Damaged Covers'],['Covers Separating from the Text Block'],['Missing Pages'],['Torn Pages'],['Loose Pages'],['Stains'],['Wet Books'],['Mold']]),  :ng_model => "damageType" 
            .row{"ng-show"=>"viewDamageDesc"}
              .col-sm-2
                = label_tag "Description:"
              .col-sm-7
                = text_area_tag :damage_description , "", :ng_model => "damageDescription"
          %br         
          .row
            .col-md-5.col-md-offset-3
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
              = link_to "submit", "#", class: "btn btn-primary",   :ng_click => "submit()"
          %br
      
          
       
