.row
  .col-sm-9
    .pull-right
      %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Add Damage"
      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %h4#myModalLabel.modal-title New Damage
              = form_for Damagebook.new , :html => { :class => "form-horizontal", :role => "form"} do |f|
                .modal-body
                  .row
                    .col-sm-3
                      = f.label "ISBN:", :class => 'col-sm-3 control-label'
                    .col-sm-5
                      = f.text_field :isbn, :class => 'form-control'
                    = button_tag "Go", :type => "submit", :class => 'btn btn-primary'
                    %br
                  .row 
                    .col-sm-3
                      = label_tag "BookStage:"
                    .col-sm-5
                      .btn-group{"data-toggle" => "buttons-radio"}
                      .col-sm-3
                        %label{for: "Loss", :id => "first"} Loss
                      .col-sm-1
                        = f.radio_button :book_stage, "Loss"
                      .col-sm-4
                        %label{for: "Damage", :id => "second"} Damage
                      .col-sm-1
                        = f.radio_button :book_stage, "Damage"
                        %br
                  .row
                    .col-sm-3
                      = f.label "Damage Type:", :class => 'col-sm-3 control-label'
                    .col-sm-5
                      = f.select :damage_type, options_for_select([['Damaged Covers'],['Covers Separating from the Text Block'],[' Missing Pages'],['Torn Pages'],['Loose Pages'],['Stains'],['Wet Books'],['Mold ']])
                      %br
                  .row
                    .col-sm-3
                      = f.label "Description:", :class => 'col-sm-3 control-label'
                    .col-sm-5
                      = f.text_area :damage_description, :class => 'form-control'
                      %br
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                    = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
                  %br
                  %br
.pull-left
  .col-sm-10                 
    %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}
%br
%br
%br
%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      
      %th ISBN
      %th BOOK STAGE
      %th DAMAGE TYPE
      %th A BOUT DAMAGE
      %th 
      
      
  %tbody
    - @damagebooks.each do |damagebook|
      %tr   
        %td= damagebook.isbn
        %td= damagebook.book_stage
        %td= damagebook.damage_type
        %td= damagebook.damage_description
        %td
          = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), edit_damagebook_path(damagebook), :class => "btn btn-warning btn-sm", :title => "Edit"
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), damagebook_path(damagebook), :class => "btn btn-danger btn-sm", :data => {:method => 'delete' , :confirm => "Are You Sure to Delete ?"}, :title => "Delete" 
       
       
       
        
          
       
