#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Teaching Plan
        = form_for TeachingPlan.new do |f|
          .modal-body
            .row
              .col-sm-3
                = f.label "Date", :class => 'col-sm-3 control-label'
              .col-sm-5
                = f.text_field :teaching_date ,:class => 'datepicker form-control'
                %br
            .row
              .col-sm-3
                = f.label "Plan", :class => 'col-sm-3 control-label'              
              .col-sm-5
                = f.text_area :plan_month ,:class => 'form-control'
                = f.hidden_field :grade_master_id, :value => "{{myGrade}}"
                = f.hidden_field :section_master_id,:value => "{{mySection}}"
                %br
                  
          .modal-footer
            .col-md-5.col-md-offset-3
              %button{:type => "button", :class=> "btn btn-primary", :ng_click => "addMoreplans()"}=  "More plans"           
              = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
   
                      

 

            
           
