#myModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Teaching Plan
        = form_for TeachingPlan.new do |f|
          .modal-body
            .row
              .col-sm-3
                = f.label "Date", :class => 'col-sm-3 control-label'
              .col-sm-5
                = f.text_field :teaching_date ,:class => 'form-control', :id => 'selectdate'
                %br
            .row
              .col-sm-3
                = f.label "Plan", :class => 'col-sm-3 control-label'              
              .col-sm-5{"ng-controller" => "TeachingPlansController"}
                = f.text_area :plan_month ,:class => 'form-control'
                = f.hidden_field :grade_master_id, :value => "{{myGrade_Section_Subject.grade_master_id}}"
                = f.hidden_field :section_master_id,:value => "{{myGrade_Section_Subject.section_master_id}}"
                = f.hidden_field :faculty_master_id, :value => "{{faculty_id}}"
                = f.hidden_field :subject_master_id, :value => "{{myGrade_Section_Subject.subject_master_id}}"
                %br
                  
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button",:class => 'btn btn-primary'} Close
            = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
   
                      

 

            
           
