.row{"ng-controller" => "TeachingPlansController"}
  .form-group.col-md-7
    %label{:class=> "form-label col-md-4"} Grade-Section-Subject
    .col-md-6      
      %select{"ng-model" => "myGrade_Section_Subject", :ng_options => "a.grade_section_subject for a in grades_sections_subjects", :class => "form-control"} 
        
    .col-sm-12
      %table{:class => "table"}
      %center
        %h5
         
          TEACHING PLANS        
          %table{:class => "table"}
            %tr
              %th{style: "width:7%"} Date
              %th{style: "width:7%"} Grade Section Subject
              %th{style: "width:7%"} Plan
              - @teaching_plans.each do |teaching_plan|
                %tr
                  %td= teaching_plan.teaching_date
                  %td= teaching_plan.grade_master.grade_name+"-"+ teaching_plan.section_master.section_name+"-"+teaching_plan.subject_master.subject_name                
                  %td= teaching_plan.plan_month
                
                          
  .form-group.col-md-5 
    .col-md-4
      %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Add Plan"
    .col-sm-5
      .teachingplancaledar
        #calendar1                    
          = render "form"
        
                  
  .row
    :css
      table, th, td
      {
      border-collapse:collapse;
      border:5px solid #6aa6d6;
      }
      th, td
      {
      padding:5px;
      } 
  
          
