= form_for @tax_buckets, :html => {:class => "form-horizontal", :role=>"form"} do |f|
  - if f.object.errors.present?
    = render "shared/error_messages", :object => f.object
  .row
    .form-group
      = f.label :From, :class => 'col-md-3 control-label'
      .col-md-9
        = f.text_field :from, :class => "form-control"

    .form-group
      = f.label :To, :class => 'col-md-3 control-label'
      .col-md-9
        = f.text_field :to, :class => "form-control"

    .form-group
      = f.label :Tax, :class => 'col-md-3 control-label'
      .col-md-9
        = f.text_field :tax, :class => "form-control" , :type => "number"
    .actions
      %center
        = save_button
        
