.row
  = form_for @admission, :html => { :class => "form-horizontal", :role => "form" } do |f|
    = render "shared/error_messages", :object => f.object
    .col-sm-12
      .form-group
        .col-sm-3
          = f.label "Form no:", :class => 'control-label'
        .col-sm-3
          = f.text_field :form_no, :class => 'form-control'
              
      .form-group
        .col-sm-3
          = f.label "Name of the Student:", :class => 'control-label'
        .col-sm-3
          = f.text_field :name, :class => 'form-control'
            
      .form-group
        .col-sm-3
          = f.label "Admission sought into Class:", :class => 'control-label'
        .col-sm-3
          = f.text_field :klass, :class => 'form-control'
        .col-sm-3
          = f.label "Date of Birth: ", :class => 'control-label'
        .col-sm-3
          = f.text_field :dob, :class => 'datepicker form-control'

      .form-group
        .col-sm-3
          = f.label "Male/Female: ", :class => 'col-sm-3 control-label'
        .col-sm-3
          = f.select :gender, options_for_select([['Male'],['Female']]),{ :class => 'btn btn-danger' }
        .col-sm-3
          = f.label "Language spoken at home: ", :class => 'control-label'
        .col-sm-3
          = f.select :language, options_for_select([['Hindi'],['English'],['Tamil'],['Telugu'],['Malayalam'],['Punjabi'],['Marati'],['Urdu']])
 
      .form-group
        .col-sm-3
          = f.label "Nationality: ", :class => 'control-label'
        .col-sm-3
          = f.country_select :nationality, {object: f.object, prompt: 'Country'}
        
      .form-group
        .col-sm-3
          = f.label "Father's Name:", :class => 'control-label'
        .col-sm-3
          = f.text_field :father_name, :class => 'form-control'
        .col-sm-3
          = f.label "Mother's Name: ", :class => 'control-label'
        .col-sm-3
          = f.text_field :mother_name, :class => 'form-control'
      .form-group
        .col-sm-3
          = f.label "Father's Occupation ", :class => 'control-label'
        .col-sm-3
          = f.text_field :father_occupation, :class => 'form-control'
        .col-sm-3
          = f.label "Mother's Occupation ", :class => 'control-label'
        .col-sm-3
          = f.text_field :mother_occupation, :class => 'form-control'
      .form-group
        .col-sm-3
          = f.label "Company's Name: ", :class => 'control-label'
        .col-sm-3
          = f.text_field :father_company, :class => 'form-control'
        .col-sm-3
          = f.label "Company's Name: ", :class => 'control-label'
        .col-sm-3
          = f.text_field :mother_company, :class => 'form-control'
      .form-group
        .col-sm-6
          .form-group
            = f.label "Education: ", :class => 'col-sm-3 control-label'
            .col-sm-9
              .btn-group{"data-toggle" => "buttons-radio"}
                .row
                  .col-sm-2
                    = f.radio_button :father_education, "Upto SSC"
                  .col-sm-2
                    %label{for: "upto SSC", :id=>"first"} Upto SSC
                  .col-sm-2
                    = f.radio_button :father_education, "Graduate"
                  .col-sm-2
                    %label{for: "Graduate",:id=>"second"} Graduate
                .row
                  .col-sm-2
                    = f.radio_button :father_education, "Graduate"
                  .col-sm-2
                    %label{for: " PostGraduate",:id=>"third"} PG
                  .col-sm-2
                    = f.radio_button :father_education, "Professional(Lawyer, Doctor, MBA, etc.,)"
                  .col-sm-2
                    %label{for: "Professional(Lawyer, Doctor, MBA, etc.,)",:id=>"four"} Professional(Lawyer, Doctor, MBA, etc.,)
                
        .col-sm-6
          .form-group
            = f.label "Education: ", :class => 'col-sm-3 control-label'
            .col-sm-9
              .btn-group{"data-toggle" => "buttons-radio"}
                .row
                  .col-sm-2
                    = f.radio_button :mother_education, "Upto SSC"
                  .col-sm-2
                    %label{for: "upto SSC", :id=>"first"} Upto SSC
                  .col-sm-2
                    = f.radio_button :mother_education, "Graduate"
                  .col-sm-2
                    %label{for: "Graduate",:id=>"second"} Graduate
                .row
                  .col-sm-2
                    = f.radio_button :mother_education, "Graduate"
                  .col-sm-2
                    %label{for: " PostGraduate",:id=>"third"} PG
                  .col-sm-2
                    = f.radio_button :mother_education, "Professional(Lawyer, Doctor, MBA, etc.,)"
                  .col-sm-2
                    %label{for: "Professional(Lawyer, Doctor, MBA, etc.,)",:id=>"four"} Professional(Lawyer, Doctor, MBA, etc.,)
      .form-group
        .col-sm-3
          = f.label "Family Income: ", :class => 'control-label'
           
        .col-sm-3
          .btn-group{"data-toggle" => "buttons-radio"}
            %table
              %thead
                %tr
                  %td
                    = f.radio_button :income, "less than Rs.20,000 p.m."
                  %td
                    %label{for: "Less than Rs.20,000 p.m.", :id=>"first"} Less than Rs.20,000 p.m.
                %tr
                  %td
                    = f.radio_button :income, "Rs.20,000 to Rs.50,000 p.m."
                  %td
                    %label{for: "Rs.20,000 to Rs.50,000 p.m.",:id=>"second"} Rs.20,000 to Rs.50,000 p.m.
                %tr
                  %td
                    = f.radio_button :income, "Rs.50,000 to Rs.1,00,000 p.m."
                  %td
                    %label{for: "Rs.50,000 to Rs.1,00,000 p.m.",:id=>"third"} Rs.50,000 to Rs.1,00,000p.m.
                %tr
                  %td
                    = f.radio_button :income, "more than Rs. 1,00,000 p.m."
                  %td
                    %label{for: "more than Rs. 1,00,000 p.m.",:id=>"four"} More than Rs. 1,00,000 p.m.
      .form-group
        .col-sm-3
          = f.label "Residential Address", :class => 'control-label'
        .col-sm-3
          = f.text_area :address, :class => 'form-control'
        .col-sm-3
          = f.label "Email ", :class => 'control-label'          
        .col-sm-3
          = f.text_field :email, :class => 'form-control'
      .form-group
        .col-sm-3
          = f.label "Landline: ", :class => 'control-label'
        .col-sm-3
          = f.text_field :landline, :class => 'form-control'
        .col-sm-3
          = f.label "Mobile: ", :class => 'control-label'
        .col-sm-3
          = f.text_field :mobile, :class => 'form-control'
      
      .form-group
        .col-sm-3
          = f.label "Choice of Transport ", :class => 'control-label'
        .col-sm-3
          = f.select(:transport, options_for_select([['Private'],['School']]),{:class => 'col-sm-4 form-control'})
        .col-sm-3
          = f.label "If yes, stage / required bus stop ", :class => 'control-label'
        .col-sm-3
          = f.text_field :busstop, :class => 'form-control'
      .form-group
        .col-sm-3
          = f.label "School in Which Last Studied:", :class => 'control-label'
        .col-sm-3
          = f.text_field :last_school, :class => 'form-control'
        .col-sm-3
          = f.label "City: ", :class => 'control-label'
        .col-sm-3
          = f.text_field :city, :class => 'form-control'
      .form-group
        .col-sm-3
          = f.label "Reasons for Changing:  ", :class => 'control-label'
        .col-sm-3
          = f.text_field :changing_reason, :class => 'form-control'
      .form-group
        .col-sm-3
          = f.label "You came to know about our school through:", :class => 'control-label'
        .col-sm-3
          = f.select(:know_school, options_for_select([['Friends'],['Advertisements'],['Internet'],['Word of Mouth'],['Parents whose children are studying here']]),{ :class => 'form-control' })
      .form-group
        .col-sm-4
          = f.label "If yes,mention their details ", :class => 'control-label'
      .form-group
        .col-sm-3
          = f.label "Name", :class => 'control-label'
        .col-sm-3
          = f.text_field :person, :class => 'form-control'
        .col-sm-3
          = f.label "Class", :class => 'control-label'
        .col-sm-3
          = f.text_field :pp, :class => 'form-control'
      %center
        = f.hidden_field :status, :value => 'Enquiry_Created'
        = f.submit "Create", :class => 'btn btn-primary'
        = link_to 'Back', admissions_path, :class => 'btn btn-primary'

