.row{"ng-controller" => "AdmissionsController"}
  = form_for @admission, :html => { :class => "form-horizontal", :role => "form" } do |f|
    = render "shared/error_messages", :object => f.object
    .row
      .col-lg-1
        w
      .col-lg-5
        h
      .col-lg-5
        k
      .col-lg-1
        l
    .row
      .col-sm-12
        .pull-left
          %span.label.label-danger Student's Details
        %table.table.table-condensed.table-striped
          %thead               
            %tr
              %th
                = f.label "Form no:"
              %th
                = f.label "form"
              %th
              %th
            %tr
              %th
                = f.label "Name:"
              %th
                = f.text_field :name
          
              %th
                = label_tag(:grade,"Class:")
              %th
                %select#admission_grade{"ng-model" => "myAdmission", "ng-options" => "klass.grade_name for klass in klasses",:required => "required"}          
                  %option{style: "display:none", value: ""} Select Grade
                    
                  = f.hidden_field :grade, :value => "{{myAdmission.grade_name}}"
                  = f.hidden_field :grade_master_id, :value => "{{myAdmission.id}}"
            %tr      
              %th
                = f.label "Date of Birth: "
              %th
                = f.text_field :dob, :class => 'datepicker'
              %th
                = f.label "Male/Female: "
              %th
                = f.select :gender, options_for_select([['Male'],['Female']])
            %tr
              %th
                = f.label "Nationality: "
              %th
                = f.country_select :nationality, {object: f.object, prompt: 'Country'}
              %th
                = f.label "Language spoken at home: "
              %th
                = f.select :language, options_for_select([['Hindi'],['English'],['Tamil'],['Telugu'],['Malayalam'],['Punjabi'],['Marati'],['Urdu']])
      .col-sm-12
        .pull-left
          %span.label.label-danger Contact's Details
        %table.table.table-condensed
          %thead
            %tr
              %th
                = f.label "Residential Address"
              %th
                = f.text_area :address
              %th
                = f.label "Email "
              %th
                = f.text_field :email
            %tr
              %th
                = f.label "Landline: "
              %th
                = f.text_field :landline
              %th
                = f.label "Mobile: "
              %th
                = f.text_field :mobile
        

      .col-sm-12
        .pull-left
          %span.label.label-danger Parent's Details
        %table.table.table-condensed
          %thead
            %tr
              %th        
                = f.label "Father's Name:"
              %th
                = f.text_field :father_name
              %th
                = f.label "Mother's Name: "
              %th
                = f.text_field :mother_name
            %tr
              %th
                = f.label "Father's Occupation: "
              %th
                = f.text_field :father_occupation
              %th
                = f.label "Mother's Occupation: "
              %th
                = f.text_field :mother_occupation
            %tr
              %th
                = f.label "Company's Name: "
              %th
                = f.text_field :father_company
              %th
                = f.label "Company's Name: "
              %th
                = f.text_field :mother_company
            %tr
              %th
                = f.label "Father's Education: "
              %th
                = f.select :father_education, options_for_select([['Upto SSC'],['Graduate'],['Post Graduate'],['Professional(Lawyer, Doctor, MBA, etc.,)']])
              %th
                = f.label "Mother's Education: "
              %th
                = f.select :mother_education, options_for_select([['Upto SSC'],['Graduate'],['Post Graduate'],['Professional(Lawyer, Doctor, MBA, etc.,)']])
            %tr
              %th
                = f.label "Family Income: "
              %th
                = f.select :income, options_for_select([['Less than Rs.20,000 p.m.'],['Graduate'],['Post Graduate'],['Professional(Lawyer, Doctor, MBA, etc.,)']])
              %th
              %th
      .col-sm-12
        .pull-left
          %span.label.label-danger Other Details
        %table.table.table-condensed
          %thead
            %tr
              %th
                = f.label "Choice of Transport "
              %th
                = f.select(:transport, options_for_select([['Private'],['School']]))
              %th
                = f.label "Bus stop ", :class => 'textbox'
              %th
                = f.text_field :busstop, :class => 'textbox'
            %tr
              %th
                = f.label "School in Which Last Studied:"
              %th
                = f.text_field :last_school
                  
              %th
                = f.label "City: "
              %th
                = f.text_field :city
            %tr
              %th
                = f.label "Reasons for Changing:  "
              %th
                = f.text_field :changing_reason
              %th
                = f.label "You came to know about our school through:"
              %th
                = f.select(:know_school, options_for_select([['Friends'],['Advertisements'],['Internet'],['Word of Mouth'],['Parents whose children are studying here']]))
                = f.label "Name", :class => 'textbox1'
                = f.text_field :person, :class => 'textbox1'
                = f.label "Class", :class => 'textbox1'
                = f.text_field :pp, :class => 'textbox1'



  
      %center
        
        = f.hidden_field :status, :value => 'Enquiry_Created'
        = f.submit "Create", :class => 'btn btn-primary'
        = f.submit "Reset", :type => "reset" , :class => 'btn btn-primary'
        

    
