= form_for @admission, :html => { :class => "form-horizontal", :role => "form", :method => "put"} do |f|
  = render "shared/error_messages", :object => f.object
  .row
    .col-sm-3
      .pull-left
        = f.label "Form no:", :class => 'control-label'
        = @admission.form_no
    .col-sm-6
      .form-group
        %center
          .col-sm-5
            %h5 ACADEMIC YEAR FROM
          .col-sm-3
            = f.select(:from, Admission::get_date)
            
    .col-sm-3
      .pull-right
        .col-sm-4
          = f.label "Branch:", :class => 'control-label'          
        .col-sm-8
          = f.text_field :branch, :class => 'form-control'
 
  .row
    .col-sm-4 
      .pull-left
        = label_tag "for Office use only"
        %table.table.table.bordered
          %tbody
            %tr
              %th Admission no:
              %th= @admission.admission_no
              %th Class:
              %td= @admission.grade
    .col-sm-8
      .pull-right
        
  .row
    .col-sm-12
      %h5 
        %b
          Guidelines for filling in Admission Form:
        %br
        1) Single form to be filled in per student
        %br
        2) Submission of Admission form does not guarantee admission to the School
        %br
        3) Completed admission form along with the supporting documents must be submitted to the school office
        %br
        4) Thereafter an interview will be scheduled and conducted
        %br
        5) Admission will be confirmed on successful interview and payment of fees will be done at the school office
  .row
    .col-sm-12
      %h5 
        %b
          Checklist of Documents should be submitted
        %br
        1) Completed admission form
        %br
        2) Original Birth Certificate (signed by MCH/MRO/Municipal Board)
        %br
        3) Transfer Certificate(if applicable)
        %br
        4) Mark Sheet(if applicable)
        %br
        5) Color Passport Size Photographs.Student-4, Father-1, Mother-1(recently taken)

  .row
    .col-sm-12
      %h4
        %b
          TO BE FILLED IN BY THE PARENT / GUARDIAN 
  .row
    .col-sm-12
      %h5
        %b
          %u
            PERSONAL DETAILS
            %br 
  .row    
    .col-sm-12
      %table.table.table-condensed.table-striped.table-hovered.table-bordered
        %tbody
          %tr
            %th{style: "width:20%"} 
              Student Name:
            %th{style: "width:20%"} 
              = @admission.name
            %th{style: "width:20%"} 
              Nationality:
            %th{style: "width:20%"} 
              = @admission.nationality
       
          %tr
            %th
              Middle Name:
            %th
              = @admission.middle_name
            %th
              Surname:
            %th
              = @admission.surname
          %tr
            %th
              Date of Birth:
            %th
              = @admission.dob
            %th
              Gender:
            %th
              = @admission.gender
          %tr
            %th
              Languages spoken at home:
            %th
              = @admission.language
            %th
              Second Language:
            %th
              = f.select :second_lang, options_from_collection_for_select(LanguageList::COMMON_LANGUAGES, "name", "name"),{:include_blank => '-Select-'}
          
        
           

  %br
  .row
    .col-sm-12
      %b
        %u
          DETAILS OF PREVIOUS STUDY(IF APPLICABLE)
  %br
  .row
    .col-sm-12
      %table.table.table-condensed.table-striped.table-hovered.table-bordered
        %tbody
          %tr
            %th{style: "width:20%"} 
              = label_tag "Name of the School:"
            %th{style: "width:20%"} 
              = @admission.last_school
            %th{style: "width:20%"} 
              = label_tag "Reason for leaving:"
            %th{style: "width:20%"} 
              = @admission.changing_reason
          %tr
            %th
              = label_tag "Grade/Standard:"
            %th
              = f.text_field :klass, :class => 'form-control'
            %th
              = label_tag "Medium:"
            %th
              = f.text_field :medium, :class => 'form-control'
          %tr
            %th
              = label_tag "Year:"
            %th
              = f.select(:year, Admission::get_year_of_study)
            %th
              = label_tag "Board:"
            %th
              = f.text_field :board, :class => 'form-control'
  
  .row
    .col-sm-12
      %h5
        %b
          %u
            MEDICAL DETAILS 
  %br

  .row
    .col-sm-12
      %table.table.table-condensed.table-striped.table-hovered.table-bordered
        %tbody
          %tr
            %th{style: "width:20%"} 
              Blood Group:
            %th{style: "width:20%"} 
              = f.select(:blood_group, options_for_select([['A1-'],['A1+'],['A1B-'],['A1B+'],['A2-'],['A2+'],['A2B-'],['A2B+'],['A-'],['A+'],['B-'],['B+'],['B1+'],['o+'],['o-'],['AB-'],['AB+']]),{:include_blank => '-Select-' })
            %th{style: "width:20%"} 
              Any major ailment/allergy that the school should know about:
            %th{style: "width:20%"} 
              = f.text_field :allergy, :class => 'form-control'
  %br
  .row
    .col-sm-12
      %h5
        %b
          %u
            FAMILY DOCTOR DETAILS    (TO BE CONTACTED IN CASE OF AN EMERGENCY)
  %br
  .row
    .col-sm-12
      %table.table.table-condensed.table-striped.table-hovered.table-bordered
        %tbody
          %tr
            %th{style: "width:20%"} 
              = label_tag "Doctor's Name:"
            %th{style: "width:20%"} 
              = f.text_field :doctor_name, :class => 'form-control'
            %th{style: "width:20%"} 
              = label_tag "Mobile:"
            %th{style: "width:20%"} 
              = f.text_field :doctor_mobile, :class => 'form-control'
        

  %br
  .row
    .col-sm-12
      %b
        %u
          PROFICIENCY IN ENGLISH   (PLEASE SELECT THE APPROPRIATE )
  .row
    .col-sm-12
      %table.table.table-condensed.table-striped.table-hovered.table-bordered
        %thead
          %tr
            %th{style: "width:20%"} 
              = label_tag "Skills"
            %th{style: "width:20%"} 
              %label{for: "Very Good", :id=>"first"} Very Good
            %th{style: "width:20%"} 
              %label{for: "Good",:id=>"second"} Good
            %th{style: "width:20%"} 
              %label{for: "Fair",:id=>"third"} Fair
            %th{style: "width:20%"} 
              %label{for: "None",:id=>"four"} None
        %tbody
          %tr
            %td= f.label "Written",:class => 'control-label'
            .btn-group{"data-toggle" => "buttons-radio"}
            %td= f.radio_button :written, "Very Good"
            %td= f.radio_button :written, "Good"
            %td= f.radio_button :written, "Fair"
            %td= f.radio_button :written, "None"
          %tr
            %td= f.label "Spoken",:class => 'control-label'
            .btn-group{"data-toggle" => "buttons-radio"}
            %td= f.radio_button :spoken, "Very Good"
            %td= f.radio_button :spoken, "Good"
            %td= f.radio_button :spoken, "Fair"
            %td= f.radio_button :spoken, "None"
          %tr
            %td= f.label "Reading",:class => 'control-label'
            .btn-group{"data-toggle" => "buttons-radio"}
            %td= f.radio_button :reading, "Very Good"
            %td= f.radio_button :reading, "Good"
            %td= f.radio_button :reading, "Fair"
            %td= f.radio_button :reading, "None"
  .row
    .col-sm-12
      %h5
        %b
          %u
            PARENTS' DETAILS
    %br
  .row
    .col-sm-12
      %table.table.table-condensed.table-striped.table-hovered.table-bordered
        %thead
          %tr
            %th{style: "width:20%"} 
            %th{style: "width:20%"} 
              = label_tag "FATHER / GUARDIAN"
            %th{style: "width:20%"} 
              = label_tag "MOTHER"
        %tbody
          %tr
            %th= label_tag "Name:"
            %th= @admission.father_name
            %th= @admission.mother_name
          %tr
            %th= label_tag "Occupation:"
            %th= @admission.father_occupation
            %th= @admission.mother_occupation
          %tr
            %th= label_tag "Education:"
            %th= @admission.father_education
            %th= @admission.mother_education
          %tr
            %th= label_tag "Nationality:"
            %th= f.country_select :father_nationality, {object: f.object, :include_blank => '-Select-',iso_codes: true}, :class => 'staffrecruit_drop'
            %th= f.country_select :mother_nationality, {object: f.object, :include_blank => '-Select-'}, :class => 'staffrecruit_drop'
          %tr
            %th= label_tag "Religion:"
            %th= f.text_field :father_religion, :class => 'form-control'
            %th= f.text_field :mother_religion, :class => 'form-control'
          %tr
            %th= label_tag "Home Address:"
            %th 
            %th= @admission.address
          %tr
            %th= label_tag "HomeLandline:"
            %th
            %th= @admission.landline
            
          %tr
            %th= label_tag "Office Address:"
            %th= f.text_field :father_office_address, :class => 'form-control'
            %th= f.text_field :mother_office_address, :class => 'form-control'
          %tr
            %th= label_tag "Office Telephone:"
            %th= f.text_field :father_office_telephone, :class => 'form-control'
            %th= f.text_field :mother_office_telephone, :class => 'form-control'
          %tr
            %th= label_tag "Mobile:"
            %th= f.text_field :father_mobile, :class => 'form-control'
            %th= f.text_field :mother_mobile, :class => 'form-control'
          %tr
            %th= label_tag "Email:"
            %th= f.text_field :father_email, :class => 'form-control'
            %th= f.text_field :mother_email, :class => 'form-control'
          %tr
            %th= label_tag "Employer's Name:"
            %th= f.text_field :father_employer, :class => 'form-control'
            %th= f.text_field :mother_employer, :class => 'form-control'
          %tr
            %th= label_tag "Family Income:"
            %th
            %th= @admission.income
  .row
    .col-sm-12
      %h5
        %b
          %u
            SIBLING DETAILS 
    
  .row
    .col-sm-12
      %table.table.table-condensed.table-striped.table-hovered.table-bordered
        %thead
          %tr
            %th{style: "width:20%"} 
              = label_tag "Name of the Student"
            %th{style: "width:20%"} 
              = label_tag "Age"
            %th{style: "width:20%"} 
              = label_tag "Sex"
            %th{style: "width:20%"} 
              = label_tag "Studying in Grade"
            %th{style: "width:20%"} 
              = label_tag "Name of the School"
        %tbody
          %tr
            %td= f.text_field :sib_name1, :class => 'form-control'
            %td= f.text_field :sib_age1, :class => 'form-control'
            %td
              %center
                %label{for: "male", :id => "first"} Male
                = f.radio_button :sib_sex1, "Male"
                %label{for: "female", :id => "second"} Female
                = f.radio_button :sib_sex1, "Female"
                %label{for: "others", :id => "fifth"} Others
                = f.radio_button :sib_sex1, "Others"

            %td= f.text_field :sib_grade1, :class => 'form-control'
            %td= f.text_field :sib_school1, :class => 'form-control'
          %tr
            %td= f.text_field :sib_name2, :class => 'form-control'
            %td= f.text_field :sib_age2, :class => 'form-control'
            %td
              %center
                %label{for: "male", :id => "third"} Male
                = f.radio_button :sib_sex2, "Male"
                %label{for: "female", :id => "fourth"} Female
                = f.radio_button :sib_sex2, "Female"
                %label{for: "others", :id => "sixth"} Others
                = f.radio_button :sib_sex1, "Others"

            %td= f.text_field :sib_grade2, :class => 'form-control'
            %td= f.text_field :sib_school2, :class => 'form-control'
          
  .row
    .col-sm-12
      %h5
        %b
          Name of a relative or a local guardian to be contacted in case of an emergency:
      %br
  .row
    .col-sm-12
      %table.table.table-condensed.table-striped.table-hovered.table-bordered
        %tbody
          %tr
            %th{style: "width:15%"} 
              = label_tag "Name:"
            %th{style: "width:15%"} 
              = f.text_field :guardian_name, :class => 'form-control'
            %th{style: "width:15%"} 
              = label_tag "Mobile:"
            %th{style: "width:15%"} 
              = f.text_field :guardian_mobile, :class => 'form-control'
            %th{style: "width:15%"} 
              = label_tag "Relationship with the Student:"
            %th{style: "width:15%"} 
              = f.text_field :guardian_relationship, :class => 'form-control'
      
                    
  .row
    %center
      //- @admission.faculty = @admission.teacher_leader.faculty_leader
      //= @admission.faculty
      = f.hidden_field :faculty, :value => @admission.teacher_leader.faculty_leader
      = f.hidden_field :status,:value => "Application Created"
      = f.submit "Update", :class => 'btn btn-primary'
      = f.submit "Reset", :type => "reset" , :class => 'btn btn-primary'
      
    
   
