.row
  .pull-right
    - if("#{@admission.status}" == 'Enquiry_Created'||"#{@admission.status}" == 'Application_Created'||"#{@admission.status}" == 'Assessment_Planned'||"#{@admission.status}" == 'Assessment_Completed'||"#{@admission.status}" == 'Management_Reviewed'||"#{@admission.status}" == 'Selected' )
      - if current_user.admin?
        %button.change.btn.btn-danger.btn-sm{"data-target" => ".bs-example-modal-sm", "data-toggle" => "modal",:data=> {:id => "#{@admission.id}"}} 
          %span.glyphicon.glyphicon-ban-circle
        #mypopModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} &times;
                  %span.sr-only Close
                %center
                  %h4#myModalLabel.modal-title Reason for Closing
                  = form_for @admission do |f|
                    .modal-body
                      .row{"ng-controller" => "StaffadminsController"}
                        .row
                          .col-sm-3
                            = label_tag :closestatus
                          .col-sm-6
                            %select{"ng-model" => "myClose", "ng-options" => "reason.reason for reason in reasons", :class => 'form-control'}
                              %option{style: "display:none", value: ""} Reason for Closing

                      
                        .row
                          .pull-right
                            = f.hidden_field :closestatus, :value => "{{myClose.reason}}"
                            = f.hidden_field :status,:value => "Form_Closed"
                            = button_tag "Save", :type => "submit", :class => 'btn btn-primary' 
                      
      - else 
        - if current_user.admin?
          %button.change.btn.btn-danger.btn-sm 
            %span.glyphicon.glyphicon-ban-circle
                  

  .container
    - if("#{@admission.status}" == "Enquiry_Created" ||"#{@admission.status}" == "Application_Created" ||"#{@admission.status}" == "Assessment_Planned" || "#{@admission.status}" == "Assessment_Completed" || "#{@admission.status}" == "Management_Reviewed" ||  "#{@admission.status}" == "Selected"|| "#{@admission.status}" == "Completed" )
      = render "shared/step"
  
    %br
    .row
      .col-sm-12
        %table.table-striped.table-condensed{:style => "width:80%"}
          %tr
            %td{style: "width:25%"}
              %b
                %span.label.label-info Enquiry #
            %td{style: "width:25%"}
              = @admission.form_no
            %td{style: "width:25%"}
              %b
                %span.label.label-info Admission #
            %td{style: "width:25%"}
              = @admission.admission_no
            
          %tr
            %td
              %label{for: "name"} Name
            %td
              = @admission.name
            %td
              %label{for: "klass"} Class
            %td
              = @admission.grade
          %tr
            %td
              %label{for: "dob"} DOB
            %td
              = @admission.dob
            %td
              %label{for: "gender"} Gender
            %td
              = @admission.gender
            
.row
  .pull-left
    .calendar2
    #myModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            .row
              .pull-left
                %h4#myModalLabel.modal-title Assessment Plan
            %hr
            = form_for @admission do |f|
              .modal-body
                .row
                  .col-sm-3
                    = f.label "Interviewer", :class => 'col-sm-3 control-label'
                  .col-sm-5
                    = @admission.faculty
                    %br
                    %br
                .row
                  .col-sm-3
                    = f.label "Time", :class => 'col-sm-3 control-label'
                  .col-sm-5
                    = f.time_field :start_time ,:class => 'form-control'
                    %br
                .row
                  .col-sm-3
                    = f.label "Description", :class => 'col-sm-3 control-label'              
                  .col-sm-5
                    = f.text_area :title ,:class => 'form-control'
             
                = f.hidden_field :status,:value => "Assessment_Planned"
                = button_tag "Save", :type => "submit", :class => ' pull-right btn btn-primary' 
                %br
                %br
 
