.row
  .col-sm-12
    - if current_user.admin? && ("#{@admission.status}" != 'Completed') && ("#{@admission.status}" != 'Management Reviewed') && ("#{@admission.status}" != 'Assessment Completed') 
      .pull-right
        - if("#{@admission.status}" == 'Assessment Planned')
          %button.btn.btn-warning.btn-sm{"data-target" => ".bs-example-modal-sm", "data-toggle" => "modal"} 
            %span.glyphicon.glyphicon-edit
        .modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
          .modal-dialog.modal-sm
            .modal-content
              %h4#myModal.modal-title Edit Assessment 
              = form_for @admission do |f|
                .modal-body
                  .row
                    .col-sm-3
                      = f.label "Time", :class => 'col-sm-3 control-label'
                    .col-sm-5
                      = f.time_field :start_time ,:class => 'form-control'
                      %br
                  .row
                    .col-sm-3
                      = f.label "Description", :class => 'col-sm-3 control-label'              
                    .col-sm-5
                      = f.text_area :title ,:class => 'form-control'
                  .row
                    .col-sm-3
                  .row
                    .pull-right
                      = f.hidden_field :status,:value => "Assessment Planned"
                      = button_tag "Save", :type => "submit", :class => 'btn btn-primary' 
     
    - if("#{@admission.status}" == 'Enquiry Created'||"#{@admission.status}" == 'Application Created'||"#{@admission.status}" == 'Assessment Planned'||"#{@admission.status}" == 'Assessment Completed'||"#{@admission.status}" == 'Management Reviewed'||"#{@admission.status}" == 'Selected' )
      .pull-right
        - if current_user.admin?
          %button.change.btn.btn-danger.btn-sm{"data-target" => ".bs-example-modal-sm", "data-toggle" => "modal",:data=> {:id => "#{@admission.id}"}, :title => 'close'} 
            %span.glyphicon.glyphicon-ban-circle
          #mypopModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %center
                    %h4#myModalLabel.modal-title Reason for Closing
                    = form_for @admission do |f|
                      .modal-body
                        .row{"ng-controller" => "StaffadminsController"}
                          .row
                            .col-sm-3
                              = label_tag :closestatus
                            .col-sm-6
                              %select{"ng-model" => "myClose", "ng-options" => "reason.reason for reason in reasons", :class => 'form-control'}
                                %option{style: "display:none", value: ""} Reason for Closing
                         
                          .row
                            .pull-right
                              = f.hidden_field :closestatus, :value => "{{myClose.reason}}"
                              = f.hidden_field :status,:value => "Form Closed"
                              = button_tag "Save", :type => "submit", :class => 'btn btn-primary' 
               
        - else 
          - if current_user.admin?
            %button.change.btn.btn-danger.btn-sm 
              %span.glyphicon.glyphicon-ban-circle
                

    .container
      - if("#{@admission.status}" == "Enquiry Created" ||"#{@admission.status}" == "Application Created" ||"#{@admission.status}" == "Assessment Planned" || "#{@admission.status}" == "Assessment Completed" || "#{@admission.status}" == "Management Reviewed" ||  "#{@admission.status}" == "Selected"|| "#{@admission.status}" == "Completed" )
        = render "shared/step"
  
      %br
      .row
        .col-sm-12
          %table.table-striped.table-condensed{:style => "width:80%"}
            %tr
              %td{style: "width:25%"}
                %b
                  %span.label.label-info Enquiry #
              %td{style: "width:25%"}
                = @admission.form_no
              %td{style: "width:25%"}
                %b
                  %span.label.label-info Admission #
              %td{style: "width:25%"}
                = @admission.admission_no
              
            %tr
              %td
                %label{for: "name"} Name
              %td
                = @admission.name
              %td
                %label{for: "klass"} Class
              %td
                = @admission.grade
            %tr
              %td
                %label{for: "dob"} DOB
              %td
                = @admission.dob
              %td
                %label{for: "gender"} Gender
              %td
                = @admission.gender
            
            %tr
              %td
                %b
                  %span.label.label-info Assessment
            %tr
              %td
                %label Interviewer
              %td
                = @admission.teacher_leader.faculty_leader
              %td
                %label Timings
              %td
                = @admission.start_time
