%h4
  %center
    Application Form

%table.table.table.striped
  %thead
    %tr
      
      %th Form no
      %th Admission no
      %th Bus Facility
      %th Blood Group
      %th Previous study
      %th Medium
      %th Board
      %th Year
      %th Sibling's Name
      %th
      
        
  %tbody
    - @admissions.each do |admission|
      %tr
        %td= admission.form_no
        %td= admission.admission_no
        %td= admission.bus
        %td= admission.last_school
        %td= admission.medium
        %td= admission.board
        %td= admission.year
        %td= admission.sib_name
        %td= link_to "<See More>",admission_show_admission_path(admission)
        %td= link_to raw("<span class='glyphicon glyphicon-trash'></span>"),admission, :class => "btn btn-danger btn-sm", :data=> {:confirm => "Are you sure?", method: :delete}, :title => "Delete"
        
%center
  = link_to 'Add', enquiry_new_admissions_path, :class => 'btn btn-primary'
  = link_to 'Back', admissions_path, :class => 'btn btn-primary'
