.pull-right
  = link_to 'New Enquiry', enquiry_new_admissions_path, :class => 'btn btn-primary'

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Enquiry Form
      %th Admission Form
      %th Student's Name
      %th Grade
      %th Parent's Name
      %th Parent's Mobile
      %th Status
        
  %tbody
    - @admissions.each do |admission|
      %tr
        %td= admission.form_no
        %td= admission.admission_no
        %td= admission.name
        %td= admission.klass
        %td= admission.father_name
        %td= admission.mobile
        %td= admission.status
        
