.pull-left
  = form_tag admission_home_admissions_path, method: :get do
    %input#search{name: "search", placeholder: "Enter search term...", type: "text",:class => 'form'}/
    = submit_tag "Search", name: nil, :class => 'btn btn-primary'
.pull-right
  = link_to 'New Enquiry', enquiry_new_admissions_path, :class => 'btn btn-primary'

  %br
  %br
%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Enquiry Form
      %th Admission Form
      %th Student's Name
      %th Grade
      %th Parent's Name
      %th Parent's Mobile
      %th Status
        
  %tbody
    - @admissions.each do |admission|
      %tr
        %td= link_to "#{admission.form_no}",home_index_admission_path(admission)
        %td= link_to "#{admission.admission_no}",home_index_admission_path(admission)
        %td= admission.name
        %td= admission.klass
        %td= admission.father_name
        %td= admission.mobile
        %td= admission.status
        
