.well
  #calendar2
#myModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Assessment Plan
        = form_for @admission do |f|
          .modal-body
            .row
              .col-sm-3
                = f.label "Time", :class => 'col-sm-3 control-label'
              .col-sm-5
                = f.text_field :start_time ,:class => 'form-control', :id => 'selectdate'
                %br
            .row
              .col-sm-3
                = f.label "Description", :class => 'col-sm-3 control-label'              
              .col-sm-5
                = f.text_area :title ,:class => 'form-control'
            .row
              .col-sm-3
            
            
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button",:class => 'btn btn-primary'} Close
            = f.hidden_field :status,:value => "Assessment_Planned"
            = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
