.row
  .col-sm-3
    .pull-left
      .input-group
        %span.input-group-addon
          = fa_icon "search lg"
        %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
        %br
  .col-sm-4
    %center
      %h4
        Assessment Planned
%br
%br

%table#tblData.target.table.table-striped.table-condensed.table-bordered{:style => "width:95%"}
  %thead
    %tr
      %th Form no
      %th Name
      %th Class
      %th Status
      
        
  %tbody
    - @admissions.each do |admission|
      %tr
        %td{:style => "width:25%"}
          = link_to "#{admission.form_no}", "#", :class => 'Modal', :data => {:id => "#{@admission.id}"}
          #Modal.modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1", "data-backdrop" => "static","data-keyboard" => "false"}
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  .row
                    .pull-left
                      .col-sm-12
                        %h4#Modal.modal-title Assessment Review
               
                %center
                  = admission.id
                  = form_for @admission do |f|
                    .modal-body
                      .row
                        %table
                          %thead
                            %tr
                              %th
                              %th{style: "width:20%"} 
                                = f.radio_button :teachercomment, "Selected"
                                %label{for: "Selected", :id => "first"} Selected
                              
                              %th{style: "width:20%"} 
                                = f.radio_button :teachercomment, "Rejected"
                                %label{for: "Rejected", :id => "second"} Rejected
                              %th
                            %tr
                              %th
                              %th
                                = f.label "Comment", :class => 'control-label'
                              %th
                                = f.text_area :comment ,:class => 'form-control'
                              %th
                        = f.hidden_field :status,:value => "Assessment_Completed"
                        = f.hidden_field :id, :value => "#{admission.id}"
                        = button_tag "Save", :type => "submit", :class => 'pull-right btn btn-primary'
                        %br
                        %br           
        %td{:style => "width:25%"}
          = admission.name
        %td{:style => "width:25%"}
          = admission.grade
        %td{:style => "width:25%"}
          = admission.status
        
        
