%p#notice= notice

%p
  %b Title:
  = @admission.title
%p
  %b Description:
  = @admission.description
%p
  %b Staff:
  = @admission.staff
%p
  %b Grade:
  = @admission.klass
%p
  %b Start time:
  = @admission.start_time
%p
  %b End time:
  = @admission.end_time



