.panel.panel-default
  .test
    .col-sm-3
      .pull-left
        .input-group
          %span.input-group-addon
            = fa_icon "search lg"
          %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}/
          %br
    .col-sm-6
      %center
        %h4
          Assessment Completed
          %br
          %br

%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Form no
      %th Description
      %th Faculty
      %th Time
      %th Status
        
  %tbody
    - @admissions.each do |admission|
      %tr
        %td= link_to "#{admission.form_no}", home_index_admission_path(admission)
        %td= admission.title
        %td= admission.faculty
        %td= admission.start_time
        %td= admission.status
        
