.row
  .col-sm-3
    .pull-left
      .input-group
        %span.input-group-addon
          = fa_icon "search lg"
        %input#search{name: "search", placeholder: "Enter search term...", type: "text",:class => 'form-control'}/
        %br
  .col-sm-4
    %center
      %h4
        Closed Forms
%br
%br

%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Enquiry Form
      %th Admission Form
      %th Student's Name
      %th Parent's Name
      %th Parent's Mobile
      %th Reason for Closing
        
  %tbody
    - @admissions.each do |admission|
      %tr
        %td= link_to "#{admission.form_no}",home_index_admission_path(admission)
        %td= link_to "#{admission.admission_no}",home_index_admission_path(admission)
        %td= admission.name
        %td= admission.father_name
        %td= admission.mobile
        %td= admission.closestatus
      
