.row
  .pull-right
    = link_to "Back", enquiry_index_admissions_path , :class => 'btn btn-primary'
.row
  .col-sm-6
    .row
      %table.table.table-striped
        %thead
          %tr
            %b
              %span.label.label-danger General Information
          %tr
            %th{style: "width:50%"}
              %label{for: "form_no"} Form no
            %th{style: "width:20%"}
              = @admission.form_no
          %tr
            %th
              %label{for: "name"} Name
            %th
              = @admission.name
          %tr
            %th
              %label{for: "klass"} Class
            %th
              = @admission.klass
          %tr
            %th
              %label{for: "gender"} Male/Female
            %th
              = @admission.gender
          %tr
            %th
              %label{for: "language"} Language spoken at home
            %th
              = @admission.language
          %tr
            %th
              %label{for: "dob"} Date of Birth
            %th
              = @admission.dob
          %tr
            %th
              %label{for: "nationality"} Nationality
            %th
              = @admission.nationality
          %tr
            %th
              %label{for: "father_name"} Father's Name
            %th
              = @admission.father_name
          %tr
            %th
              %label{for: "mother_name"} Mother's Name
            %th
              = @admission.mother_name
          %tr
            %th
              %label{for: "father_occupation"} Father's Occupation
            %th
              = @admission.father_occupation
          %tr
            %th
              %label{for: "mother_occupation"} Mother's Occupation
            %th
              = @admission.mother_occupation
          %tr
            %th
              %label{for: "father_education"} Father's Education
            %th
              = @admission.father_education
          %tr
            %th
              %label{for: "mother_education"} Mother's Education
            %th
              = @admission.mother_education
          %tr
            %th
              %label{for: "income"} Family Income
            %th
              = @admission.income
          %tr
            %th
              %label{for: "address"} Residential Address
            %th
              = @admission.address
          %tr
            %th
              %label{for: "landline"} Landline
            %th
              = @admission.landline
          %tr
            %th
              %label{for: "mobile"} Mobile
            %th
              = @admission.mobile
          %tr
            %th
              %label{for: "email"} Email
            %th
              = @admission.email
          %tr
            %th         
              %label{for: "transport"} Choice of Transport
            %th     
              = @admission.transport
          %tr
            %th 
              %label{for: "busstop"} Busstop
            %th
              = @admission.busstop
          %tr
            %th
              %label{for: "last_school"} School in which last Studied
            %th
              = @admission.last_school
          %tr
            %th
              %label{for: "city"} City
            %th             
              = @admission.city
          %tr
            %th
              %label{for: "Reasons for Changing"} Reasons for Changing
            %th
              = @admission.changing_reason
          %tr
            %th      
              %label{for: "You came to know about our school through"} You came to know about our school through
            %th 
              = @admission.know_school
          %tr
            %th
              %label{for: "person"} Name
            %th             
              = @admission.person
          %tr
            %th     
              %label{for: "class"} Class
            %th        
              = @admission.pp
          %br
          
