.panel.panel-default
  .panel-heading
    .pull-left
      %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}/
    .pull-right
      = link_to 'New Enquiry', enquiry_new_admissions_path, :class => 'btn btn-primary'
      %br
      %br
    %center
      %h4
        Enquiry Forms

%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Form no
      %th Name
      %th Class
      %th Gender
      %th Father's name
      %th Date of Birth
      %th Mobile
      %th E-mail
        
  %tbody
    - @admissions.each do |admission|
      %tr
        %td= link_to "#{admission.form_no}", home_index_admission_path(admission)
        %td= admission.name
        %td= admission.klass
        %td= admission.gender
        %td= admission.father_name
        %td= admission.dob
        %td= admission.mobile
        %td= admission.email

