= image_tag "enquiry.png",:width => "100", :height => "100"
= label_tag "Admission"
.pull-right
  = link_to button_tag('Back',:class => 'btn btn-primary'), admissions_path
  
%br
%span.label.label-primary STEP:1  Enquiry Details
= label_tag "(All fields are mandatory)"
%center
  = render :partial => "enquiry", :locals => {:admissions => @admissions}
