%center
  %h3 Details 

.row
  %center
    %b
      .col-sm-6
        %label{for: "form_no"} Form no
      .col-sm-4
        %label
          = @admission.form_no
          %br
      .col-sm-6
        %label{for: "name"} Name
      .col-sm-4
        %label
          = @admission.name
          %br
      .col-sm-6
        %label{for: "klass"} Class
      .col-sm-4
        %label
          = @admission.klass
          %br
      .col-sm-6
        %label{for: "gender"} Male/Female
      .col-sm-4
        %label
          = @admission.gender
          %br
      .col-sm-6
        %label{for: "language"} Language spoken at home
      .col-sm-4
        %label
          = @admission.language
          %br
      .col-sm-6
        %label{for: "dob"} Date of Birth
      .col-sm-4
        %label
          = @admission.dob
          %br
      .col-sm-6
        %label{for: "nationality"} Nationality
      .col-sm-4
        %label
          = @admission.nationality
          %br
      .col-sm-6
        %label{for: "father_name"} Father's Name
      .col-sm-4
        %label
          = @admission.father_name
          %br
      .col-sm-6
        %label{for: "mother_name"} Mother's Name
      .col-sm-4
        %label
          = @admission.mother_name
          %br
      .col-sm-6
        %label{for: "father_occupation"} Father's Occupation
      .col-sm-4
        %label
          = @admission.father_occupation
          %br
      .col-sm-6
        %label{for: "mother_occupation"} Mother's Occupation
      .col-sm-4
        %label
          = @admission.mother_occupation
          %br
      .col-sm-6
        %label{for: "father_education"} Father's Education
      .col-sm-4
        %label
          = @admission.father_education
          %br
      .col-sm-6
        %label{for: "mother_education"} Mother's Education
      .col-sm-4
        %label
          = @admission.mother_education
          %br
      .col-sm-6
        %label{for: "income"} Family Income
      .col-sm-4
        %label
          = @admission.income
          %br
      .col-sm-6
        %label{for: "address"} Residential Address
      .col-sm-4
        %label
          = @admission.address
          %br
      .col-sm-6
        %label{for: "landline"} Landline
      .col-sm-4
        %label
          = @admission.landline
          %br
      .col-sm-6
        %label{for: "mobile"} Mobile
      .col-sm-4
        %label
          = @admission.mobile
          %br
      .col-sm-6
        %label{for: "email"} Email
      .col-sm-4
        %label
          = @admission.email
          %br
      .col-sm-6
        %label{for: "transport"} Choice of Transport
      .col-sm-4
        %label
          = @admission.transport
          %br
      .col-sm-6
        %label{for: "busstop"} Busstop
      .col-sm-4
        %label
          = @admission.busstop
          %br
      .col-sm-6
        %label{for: "last_school"} School in which last Studied
      .col-sm-4
        %label
          = @admission.last_school
          %br
      .col-sm-6
        %label{for: "city"} City
      .col-sm-4
        %label
          = @admission.city
          %br
      .col-sm-6
        %label{for: "Reasons for Changing"} Reasons for Changing
      .col-sm-4
        %label
          = @admission.changing_reason
          %br

      .col-sm-6
        %label{for: "You came to know about our school through"} You came to know about our school through
      .col-sm-4
        %label
          = @admission.know_school
          %br
      .col-sm-6
        %label{for: "person"} Name
      .col-sm-4
        %label
          = @admission.person
          %br
      .col-sm-6
        %label{for: "class"} Class
      .col-sm-4
        %label
          = @admission.pp
          %br

%center
  = link_to "Back", admissions_path , :class => 'btn btn-primary'
