.row
  .col-sm-3
    .pull-left
      .input-group
        %span.input-group-addon
          = fa_icon "search lg"
        %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}/
        %br
  .col-sm-4
    %center
      %h4
        Management Review
%br
%br

%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Form no
      %th Student's Name
      %th Faculty
      %th Time
      %th Staff Comment
      %th{style: "width:10%"} Management Comment
      %th Result
      
        
  %tbody
    - @admissions.each do |admission|
      %tr
        %td= link_to "#{admission.form_no}", home_index_admission_path(admission)
        %td= admission.name
        %td= admission.faculty
        %td= admission.start_time
        %td= admission.comment
        %td{style: "width:10%"} 
          = admission.description
        %td= admission.result
        
        
