.row
  = render "shared/step"
  %br
.row
  .col-sm-8
    %table.table-striped.table-condensed
      %tr
        %td{style: "width:25%"}
          %b
            %span.label.label-info Enquiry #
        %td{style: "width:25%"}
          = @admission.form_no
        %td{style: "width:25%"}
          %b
            %span.label.label-info Admission #
        %td{style: "width:25%"}
          = @admission.admission_no
      
      %tr
        %td
          %label{for: "name"} Name
        %td
          = @admission.name
        %td
          %label{for: "klass"} Class
        %td
          = @admission.klass
      %tr
        %td
          %label{for: "dob"} DOB
        %td
          = @admission.dob
        %td
          %label{for: "gender"} Gender
        %td
          = @admission.gender
  
      %tr
        %td
          %label{for: "father_name"} Father's Name
        %td
          = @admission.father_name
        %td
          %label{for: "mother_name"} Mother's Name
        %td
          = @admission.mother_name
        
      %tr
        %td
          %label{for: "father_mobile"} Father's Mobile
        %td
          = @admission.father_mobile
        %td
          %label{for: "mother_mobile"} Mother's Mobile
        %td
          = @admission.mother_mobile

      %tr
        %td
          %label{for: "father_email"} Father's Email
        %td
          = @admission.father_email
        %td
          %label{for: "mother_email"} Mother's Email
        %td
          = @admission.mother_email
  .col-sm-1
    .pull-left
      - if current_user.principal?
        %button.btn.btn-warning.btn-sm{"data-target" => ".bs-example-modal-sm", "data-toggle" => "modal"} 
          %span.glyphicon.glyphicon-edit
        .modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
          .modal-dialog.modal-sm
            .modal-content
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
              %center
                %h4
                  .modal-title Management Review
              = form_for @admission do |f|
                .modal-body
                  .row
                    .col-sm-2
                      = f.label "Result"
                    .col-sm-2
                      .btn-group{"data-toggle" => "buttons-radio"}
                        = f.radio_button :result, "Selected"
                    .col-sm-2
                      %label{for: "Selected", :id => "first"} Selected
                    .col-sm-2
                      .btn-group{"data-toggle" => "buttons-radio"}
                        = f.radio_button :result, "Rejected"
                    .col-sm-2
                      %label{for: "Rejected", :id => "second"} Rejected
                  %br
                  .row
                    .col-sm-4
                      = f.label "Review Comments", :class => 'control-label'
                    .col-sm-4
                      = f.text_area :description ,:class => 'form-control'
                        
              
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button",:class => 'btn btn-primary'} Close
                  = f.hidden_field :status,:value => "Management_Reviewed"
                  = button_tag "Save", :type => "submit", :class => 'btn btn-primary'
                  
    
        
  .col-sm-3
    - if current_user.admin?   
      - if("#{@admission.status}" == 'Enquiry_Created'||"#{@admission.status}" == 'Application_Created'||"#{@admission.status}" == 'Assessment_Planned'||"#{@admission.status}" == 'Assessment_Completed'||"#{@admission.status}" == 'Management_Reviewed' )
        = link_to "Close the Form", "#", :class => "change btn1 btn btn-danger",:data=> {:id => "#{@admission.id}"}
    - else 
      - if current_user.admin? 
        = link_to "Form Closed", "#", :class => "btn1 btn btn-success",:data=> {:id => "#{@admission.id}"}
    %br
    %br
   
.row
  .col-sm-8
    #accordion.panel-group
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
              Management Result
        #collapseOne.panel-collapse.collapse.in
          .panel-body
            %b
              %label Result
              %label.btn.btn-default
                = @admission.result
            .pull-right
              %label Review Comments
              %label.btn.btn-default
                = @admission.description
                
                
