.panel.panel-default
  .test
    .col-sm-3
      .pull-left
        .input-group
          %span.input-group-addon
            = fa_icon "search lg"
          %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}/
          %br
    .col-sm-4
      %center
        %h4
          List of Selected Forms
          %br
          %br

%table#tblData.target.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Form no
      %th Name
      %th Class
      %th Gender
      %th Father's name
      %th Comment
      %th Description
      %th Result
        
  %tbody
    - @admissions.each do |admission|
      %tr
        %td= link_to "#{admission.form_no}", home_index_admission_path(admission)
        %td= admission.name
        %td= admission.grade
        %td= admission.gender
        %td= admission.father_name
        %td= admission.comment
        %td= admission.description
        %td= admission.result

