%tr
  %td= pf_statement.member_id
  %td= pf_statement.member_name
  %td= pf_statement.epf_wages
  %td= pf_statement.eps_wages
  %td= pf_statement.epf_ee_share
  %td= pf_statement.epf_ee_remitted
  %td= pf_statement.eps_due
  %td= pf_statement.eps_remitted
  %td= pf_statement.diff_epf_and_eps
  %td= pf_statement.diff_remitted
  %td= pf_statement.n
  %td= pf_statement.refund_adv.to_i
  %td= pf_statement.arrear_epf.to_i
  %td= pf_statement.arrear_epf_ee.to_i	
  %td= pf_statement.arrear_epf_er.to_i	
  %td= pf_statement.arrear_eps.to_i	
  %td= pf_statement.fathers_husbands_name	
  %td= pf_statement.relation
  %td= pf_statement.emp_dob	
  %td= pf_statement.emp_gender
  %td= pf_statement.doj_epf
  %td= pf_statement.doj_eps	
  %td= pf_statement.doe_epf	
  %td= pf_statement.doe_eps	
  %td= pf_statement.r
