= title("PF Input #{@month} #{@year}")
.row
  .pull-left
    %h1 
      = "PF Input For The Month #{@month} #{@year}"
.col-md-12
  .col-md-10
    = form_tag pf_statements_pf_input_path, :method => "GET",:class=>"form-horizontal", :id => "pfInputForm" do
      .form-group
        %label.col-md-2 Employee Type
        .col-md-3
          = select_tag :employee_type, options_for_select([["Regular", "regular"], ["Foreign", "foreign"]] , @employee_type) , :class => 'form-control'
        = hidden_field_tag :month, "#{@month}"
        = hidden_field_tag :year, "#{@year}"
        = hidden_field_tag :job_run_id, "#{@job_run_id}"
        .col-md-4
          %button{:type=>"submit", :class=> "btn btn-primary"}= "Go"
          = link_to "Print", "#", :class => "btn btn-primary", :rel => "print_pf_input" ,:format => 'pdf'   
%br
%br

.col-md-12
  %table.table.table-condensed
    %tr
      %th Employee's Share
      %th A/c.No.1  
      %th= @pf_input.employee_share_ac_01
    %tr
      %th Employer's Share
      %th A/c.No.1  
      %th= @pf_input.employer_share_ac_01
    %tr
      %th Employer's Share
      %th A/c.No.10  
      %th= @pf_input.employer_share_ac_10

    %tr
      %th Administration Charges
      %th A/c.No.2
      %th= @pf_input.administration_charges_ac_2
    %tr
      %th EDLI Charges
      %th A/c.No.21
      %th= @pf_input.edli_charges_ac_21
    %tr
      %th EDLI Admin.Charges
      %th A/c.No.21
      %th= @pf_input.edli_admin_charges_ac_22
    %tr
      %th{:colspan => 2} Total
      %th= @pf_input.total

.row
  .col-md-offset-6
    = back_button("/job_runs/#{@job_run_id}/pf_statements", {'label' => "Back"})
