.col-md-10
  .col-md-12{:ng_controller => "MailingController"}
    = link_to "Send Mail", "#", :class => "btn btn-primary", :ng_hide => "isMailActionFired", :ng_click => "feeStructureMail()"
    = link_to "Send Approval", fee_structure_approvals_path, :class => "send"

  = render "grade_wise_fee_grid"
  = render "shared/amount_units"
  
  = render "term_wise_grade_fees/term_wise_grade_fee_grid"
  = render "shared/amount_units"

  = render "monthly_pdc_amounts/monthly_pdc_amounts_grid"
  = render "shared/amount_units"
