.col-md-10
  = link_to "Send Mail", fee_alerts_fee_struct_mail_to_parents_path, :class => "btn btn-primary"
  = link_to "Send Approval", fee_structure_approvals_path, :class => "send"

  = render "grade_wise_fee_grid"
  = render "shared/amount_units"
  
  = render "term_wise_grade_fees/term_wise_grade_fee_grid"
  = render "shared/amount_units"

  = render "monthly_pdc_amounts/monthly_pdc_amounts_grid"
  = render "shared/amount_units"
