.row{:ng_controller => "DateAttendanceController"}
  .col-sm-3
    #attendance_calendar
    
  .col-sm-9{:ng_show => 'myEditFormValue'}
    %body{:onload => "myFunction()"}
      %table.table.table-bordered.table-condensed.table-striped
        %thead
          %tr
            %th Student's Name
            %th 
              %label{for: "P", :id => "P"} P
            %th
              %label{for: "A", :id => "A"} A
            %th
              %label{for: "L", :id => "L"} L
        %tbody
          %tr{"ng-repeat" => "attendance in attendances"}
            %td
              {{attendance.name}}
            %td
              %input{:ng_model =>"attendance['attendance']", type: "radio", value: "P"} 
            %td
              %input{:ng_model =>"attendance['attendance']", type: "radio", value: "A"} 
            %td
              %input{:ng_model =>"attendance['attendance']", type: "radio", value: "L"} 
              = hidden_field_tag :attendance, :value => "{{attendance['attendance']}}"
              = hidden_field_tag :faculty_master_id, :value => "{{attendance.faculty_id}}"
              = hidden_field_tag :name, :value => "{{attendance.name}}"
              = hidden_field_tag :id, :value => "{{attendance.id}}"
           
    
      %center
        %input{:type => "button", :class => "myFunction btn btn-primary", :ng_click => "saveTodayStudentAttendance()", :value => "Submit", "ng-model" => "date"}
            
  


  .col-sm-9{:ng_show => 'myShowFormValue'}
    = render "form"
    
