= form_for @teacher_leader, :html => { :class => "form-horizontal", :role => "form" } do |f|
  = render "shared/error_messages", :object => f.object
  .row
    .col-sm-2
      = f.label "Grade:", :class => 'control-label'
    .col-sm-3{"ng-controller"=>"AdmissionsController"}
      %select{"ng-model" => "myAdmission", "ng-options" => "klass.grade_name for klass in klasses",:class => "form-control",:required => "required"}          
        %option{style: "display:none", value: ""} Select Grade
        
        = f.hidden_field :klass, :value => "{{myAdmission.grade_name}}"
          
        
  %br
  %br
  .row
    .col-sm-2
      = f.label "Lead:", :class => 'control-label'
    .col-sm-3{"ng-controller" => "StaffadminsController"}
      %select{"ng-model" => "staffAdmin", "ng-options" => "faculty.faculty_name for faculty in faculties",:class => "form-control",:required => "required"}          
        %option{style: "display:none", value: ""} Select
          
        = f.hidden_field :faculty_leader, :value => "{{staffAdmin.faculty_name}}"
  %br
  %br
  %center
    = f.submit "Create", :class => 'btn btn-primary'
    = f.submit "Reset", :type => "reset" , :class => 'btn btn-primary'
