!!!
%html{ "ng-app" => 'myApp'}    
  %head
    %title Fountainhead
    = include_gon(:init => true) 
    = javascript_include_tag "application"
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    
    = csrf_meta_tags

  %body
    .navbar-fixed-top
      = render "shared/banner"
      - if current_user.present?
        .less-margin-bottom.row
          = render "shared/nav_bar"
    .row
      - if current_user.present?
        .col-md-2
          = render "shared/nav_bar_left"
        .col-md-10
          .row
            = render "shared/breadcrumb"
          .col-md-12#appAlert
            - flash.each do |key, value|
              #div{:class => flash_alert_class(key) }
                %button{ :type => "button", :class => "close", :data => { :dismiss => "alert" }, "aria-hidden".to_sym => "true" }
                  &times;
                = value

          .col-md-12
            = yield
      - else
        .col-md-12
          .container
            .row
              .col-md-10
                - flash.each do |key, value|
                  = content_tag(:div,value,:class => "#{flash_alert_class(key)}")
          
              = yield
      
%html
  %head
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    :javascript
      $(document).ready(function(){
          $("p").text("Hello World!");
      });
  %body
    %p This is some text.



