!!!
%html{ "ng-app" => 'myApp'}    
  %head
    %title Manthan
    
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true
    
    = csrf_meta_tags
  %body
    .navbar-fixed-top
      = render "shared/banner"
      - if current_user.present?
        .less-margin-bottom.row
          = render "shared/nav_bar"
    .row
      - if current_user.present?
        .col-md-2
          - unless controller.controller_name == "staffs"
            - unless controller.controller_name == "events"
              = render "shared/nav_bar_left"
              - if controller.controller_name == "admissions"
                = render "shared/admission_nav_bar"
        #content.col-md-10
          .col-md-12
            - flash.each do |key, value|
              #div{:class => flash_alert_class(key) }
                %button{ :type => "button", :class => "close", :data => { :dismiss => "alert" }, "aria-hidden".to_sym => "true" }
                  &times;
                = value

          .col-md-12
            .container
              = yield
      - else
        .col-md-12
          .container
            .row
              .col-md-10
                - flash.each do |key, value|
                  = content_tag(:div,value,:class => "#{flash_alert_class(key)}")
          
              = yield
      
