!!!
%html{ "ng-app" => 'myApp'}    
  %head
    %title Manthan
    
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true
    
    = csrf_meta_tags
  %body
    .less-margin-bottom.row
      = render "shared/nav_bar"
    .row
      .col-md-2
        = render "shared/nav_bar_left"
      -# .col-md-10
      -#   = render "shared/notify_bar"
    -# .container
    -#   .row
    -#     .col-md-6
    -#       - flash.each do |key, value|
    -#         = content_tag(:div,value,:class => "#{flash_alert_class(key)}")
          
    -#   = yield
