!!!
%html{ "ng-app" => 'myApp'}    
  %head
    %title Manthan
    
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true
    
    = csrf_meta_tags
  %body
    .container
      .row
        .col-md-6
          - flash.each do |key, value|
            = content_tag(:div,value,:class => "#{flash_alert_class(key)}")
            
      = yield
